{{>java/CopyrightHeader}}

#pragma once

#include <jni.h>

namespace here
{
namespace internal
{
namespace jni
{
JavaVM* get_java_vm( );

}  // namespace jni
}  // namespace internal
}  // namespace here
