{{>common/DocComment}}
{{#if visibility.toString}}{{visibility}} {{/if}}{{#qualifiers}}{{.}} {{/qualifiers}}class {{name}} {{#extendedClass}}extends {{name}} {{/extendedClass}}{{#if parentInterfaces}}implements {{join parentInterfaces delimiter=", " }} {{/if}}{
{{#constants}}{{prefixPartial "java/Constant" "    "}}
{{/constants}}
{{#fields}}{{prefixPartial "java/Field" "    "}}
{{/fields}}
{{#enums}}{{prefixPartial "java/Enum" "    "}}
{{/enums}}
{{#innerClasses}}{{prefixPartial "java/Class" "    "}}
{{/innerClasses}}
{{#if extendsNativeBase}}
    protected {{name}}(final long nativeHandle) {
        super(nativeHandle, new Disposer() {
            @Override
            public void disposeNative(long handle) {
                disposeNativeHandle(handle);
            }
        });
    }

    private static native void disposeNativeHandle(long nativeHandle);
{{/if}}
{{#methods}}{{prefixPartial "java/MethodSignature" "    "}}
{{/methods}}
}