{{>common/DocComment}}
enum {{name}} {
{{joinPartial items "java/EnumItem" ",
"}}{{#if items}};{{/if}}

    public final int value;

    {{name}}(final int value) {
        this.value = value;
    }
}