{{>java/CopyrightHeader}}

{{#javaPackage}}
{{>java/Package}}
{{/javaPackage}}

{{#imports}}
{{>java/Import}}
{{/imports}}

public class {{name}} extends Exception {
    public {{name}}(final {{enumTypeRef.name}} error) {
        super(Integer.toString(error.value));
        this.error = error;
    }
    public final {{enumTypeRef.name}} error;
}
