{{#if hasComment}}{{>java/FieldComment}}{{/if}}
{{#if visibility.toString}}{{visibility}} {{/if}}{{type.name}} {{name}}{{#initial}} = {{#isNew}}new {{/isNew}}{{name}}{{#isNew}}(){{/isNew}}{{/initial}};