{{>java/CopyrightHeader}}

{{#javaPackage}}
{{>java/Package}}
{{/javaPackage}}

{{#imports}}
{{>java/Import}}

{{/imports}}
{{>common/DocComment}}
interface {{name}} {{#if parentInterfaces}}extends {{join parentInterfaces delimiter=", " }} {{/if}}{
{{#methods}}{{prefixPartial "java/MethodSignature" "    "}}
{{/methods}}
}