{{#if comment}}
/**
{{prefix comment " * "}}
{{#parameters}}{{#if this.comment}}
 * @param {{name}} {{comment}}
{{/if}}{{/parameters}}
{{#if returnComment}}
 * @return {{returnComment}}
{{/if}}
 */
{{/if}}