{{!!
  !
  ! Copyright (C) 2016-2019 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{#set structVisibility=visibility struct=this}}{{#struct}}
/**
{{#unless uninitializedFields}}
 * Allows to construct a new {{resolveName}} instance by calling the desired setters one after the other in any order.
{{/unless}}
{{#if uninitializedFields}}
 * Allows to construct a new {{resolveName}} instance by calling the following setters for mandatory fields in the
 * following order before {@link FinalBuilder#build build} can be called:
 * <pre>
 *
 * {{resolveName}} instance = new {{resolveName}}.Builder(){{#uninitializedFields}}
 *     .set{{#resolveName}}{{capitalize this}}{{/resolveName}}({{resolveName}}){{/uninitializedFields}}
 *     .build();
 * </pre>
{{#if initializedFields}}
 * Setters for optional fields that already have a default value assigned can be chained in any desired order. {{!!
 }}The following setters are optional:
 * <ul>
{{#initializedFields}}
 *     <li>{@link FinalBuilder#set{{#resolveName}}{{capitalize this}}{{/resolveName}} {{!!
 }}set{{#resolveName}}{{capitalize this}}{{/resolveName}}({{resolveName}})}</li>
{{/initializedFields}}
 * </ul>
{{/if}}
{{/if}}
 * @deprecated <p>To create a new instance use one of the available constructors.</p>
 */
@Deprecated
{{resolveName structVisibility}}static class Builder {
{{#fields}}
    private {{resolveName typeRef}} {{resolveName}} = {{#if defaultValue}}{{resolveName defaultValue}}{{/if}}{{!!
    }}{{#unless defaultValue}}{{resolveName "empty"}}{{/unless}};
{{/fields}}

    {{resolveName structVisibility}}Builder() { }
{{#if uninitializedFields}}{{>mandatoryFieldsBuilder}}{{/if}}
{{#unless uninitializedFields}}{{>allFieldSetters}}{{/unless}}
}
{{/struct}}{{/set}}{{!!

}}{{+mandatoryFieldsBuilder}}
{{#uninitializedFields}}
{{#if iter.isFirst}}
{{>mandatoryFieldSetter}}
{{/if}}{{!!
}}{{#unless iter.isFirst}}
    /** @exclude */
    {{resolveName structVisibility}}class {{>currentBuilder}} {
        {{>currentBuilder}}() { }
        {{prefixPartial "mandatoryFieldSetter" "    "}}
    }
{{/unless}}
{{/uninitializedFields}}
    /**
     * After all mandatory fields are set, this builder is returned which allows
     * setting all fields and constructing a new {{resolveName}} instance by calling {@link #build build}.
     */
    {{resolveName structVisibility}}class FinalBuilder {
        FinalBuilder() { }
        {{#set Prefix="Final"}}{{#struct}}{{prefixPartial "allFieldSetters" "    "}}{{/struct}}{{/set}}
    }
{{/mandatoryFieldsBuilder}}{{!!

}}{{+mandatoryFieldSetter}}
    {{>setterComment}}
    {{resolveName structVisibility}}{{>nextBuilder}} set{{#resolveName}}{{capitalize this}}{{/resolveName}}{{!!
    }}({{resolveName typeRef}} {{resolveName}}) {
        Builder.this.{{resolveName}} = {{resolveName}};
        return new {{>nextBuilder}}();
    }
{{/mandatoryFieldSetter}}{{!!

}}{{+allFieldSetters}}
{{#fields}}
    {{>setterComment}}
    {{resolveName structVisibility}}{{Prefix}}Builder set{{#resolveName}}{{capitalize this}}{{/resolveName}}{{!!
    }}({{resolveName typeRef}} {{resolveName}}) {
        Builder.this.{{resolveName}} = {{resolveName}};
        return this;
    }
{{/fields}}
{{#resolveName constructorComment}}{{#unless this.isEmpty}}
    /**
{{prefix this "     * "}}
     */{{/unless}}{{/resolveName}}
    {{resolveName structVisibility}}{{resolveName}} build() {
        return new {{resolveName}}({{#fields}}{{resolveName}}{{#if iter.hasNext}}, {{/if}}{{/fields}});
    }
{{/allFieldSetters}}{{!!

}}{{+currentBuilder}}{{!!
}}{{#if iter.isFirst}}Builder{{/if}}{{!!
}}{{#unless iter.isFirst}}PartialBuilder{{iter.position}}{{/unless}}{{!!
}}{{/currentBuilder}}{{!!

}}{{+nextBuilder}}{{!!
}}{{#if iter.hasNext}}PartialBuilder{{iter.index}}{{/if}}{{!!
}}{{#unless iter.hasNext}}FinalBuilder{{/unless}}{{!!
}}{{/nextBuilder}}{{!!

}}{{+setterComment}}
    /**
     * Sets {{resolveName}}.{{#unless comment.isEmpty}}
     * @param {{resolveName}} {{#resolveName comment}}{{prefix this "     * " skipFirstLine=true}}{{/resolveName}}{{/unless}}
     */
{{/setterComment}}
