{{!!
  !
  ! Copyright (C) 2016-2019 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{#set classVisibility=visibility}}
/**
{{#unless uninitializedFields}}
 * Allows to construct a new {{name}} instance by calling the desired setters one after the other in any order.
{{/unless}}
{{#if uninitializedFields}}
 * Allows to construct a new {{name}} instance by calling the following setters for mandatory fields in the
 * following order before {@link FinalBuilder#build build} can be called:
 * <pre>
 *
 * {{name}} instance = new {{name}}.Builder(){{#uninitializedFields}}
 *     .set{{capitalize name}}({{name}}){{/uninitializedFields}}
 *     .build();
 * </pre>
{{#if defaultedFields}}
 * Setters for optional fields that already have a default value assigned can be chained in any desired order. The following setters are optional:
 * <ul>
{{#defaultedFields}}
 *     <li>{@link FinalBuilder#set{{capitalize name}} set{{capitalize name}}({{name}})}</li>
{{/defaultedFields}}
 * </ul>
{{/if}}
{{/if}}
 * @deprecated <p>To create a new instance use one of the available constructors.</p>
 */
@Deprecated
{{>visible}}static class Builder {
{{#fields}}
    private {{type.name}} {{name}}{{#if initial}} = {{initial.name}}{{/if}};
{{/fields}}

    {{>visible}}Builder() { }
{{#if uninitializedFields}}{{>mandatoryFieldsBuilder}}{{/if}}
{{#unless uninitializedFields}}{{>allFieldSetters}}{{/unless}}
}
{{/set}}{{!!

}}{{+mandatoryFieldsBuilder}}
{{#uninitializedFields}}
{{#if iter.isFirst}}
{{>mandatoryFieldSetter}}
{{/if}}{{!!
}}{{#unless iter.isFirst}}
    /** @exclude */
    {{>visible}}class {{>currentBuilder}} {
        {{>currentBuilder}}() { }
        {{prefixPartial "mandatoryFieldSetter" "    "}}
    }
{{/unless}}
{{/uninitializedFields}}
    /**
     * After all mandatory fields are set, this builder is returned which allows
     * setting all fields and constructing a new {{name}} instance by calling {@link #build build}.
     */
    {{>visible}}class FinalBuilder {
        FinalBuilder() { }
        {{#set Prefix="Final"}}{{prefixPartial "allFieldSetters" "    "}}{{/set}}
    }
{{/mandatoryFieldsBuilder}}{{!!

}}{{+mandatoryFieldSetter}}
    {{>setterComment}}
    {{>visible}}{{>nextBuilder}} set{{capitalize name}}({{type}} {{name}}) {
        Builder.this.{{name}} = {{name}};
        return new {{>nextBuilder}}();
    }
{{/mandatoryFieldSetter}}{{!!

}}{{+allFieldSetters}}
{{#fields}}
    {{>setterComment}}
    {{>visible}}{{Prefix}}Builder set{{capitalize name}}({{type}} {{name}}) {
        Builder.this.{{name}} = {{name}};
        return this;
    }
{{/fields}}
{{#if generatedConstructorComment}}
    /**
{{prefix generatedConstructorComment "     * "}}
     */{{/if}}
    {{>visible}}{{name}} build() {
        return new {{name}}({{#fields}}{{name}}{{#if iter.hasNext}}, {{/if}}{{/fields}});
    }
{{/allFieldSetters}}{{!!

}}{{+currentBuilder}}{{!!
}}{{#if iter.isFirst}}Builder{{/if}}{{!!
}}{{#unless iter.isFirst}}PartialBuilder{{iter.position}}{{/unless}}{{!!
}}{{/currentBuilder}}{{!!

}}{{+nextBuilder}}{{!!
}}{{#if iter.hasNext}}PartialBuilder{{iter.index}}{{/if}}{{!!
}}{{#unless iter.hasNext}}FinalBuilder{{/unless}}{{!!
}}{{/nextBuilder}}{{!!

}}{{+visible}}{{#if classVisibility.toString}}{{classVisibility}} {{/if}}{{/visible}}{{!!
}}{{+setterComment}}
    /**
     * Sets {{name}}.{{#if comment.documentation}}
     * @param {{name}} {{prefix comment.documentation "     * " skipFirstLine=true}}{{/if}}
     */
{{/setterComment}}
