{{!!
  !
  ! Copyright (C) 2016-2026 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
// -------------------------------------------------------------------------------------------------
// Copyright (C) 2016-2026 HERE Europe B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
// SPDX-License-Identifier: Apache-2.0
// License-Filename: LICENSE
//
// -------------------------------------------------------------------------------------------------

#pragma once

/*
 * This header is used to define the string_view type used by Gluecodium. If nothing else is defined
 * it will use std::string_view if available and fallback to a built-in StringView implementation
 * otherwise. To use custom view implementation, GLUECODIUM_STRING_VIEW_HEADER and GLUECODIUM_STRING_VIEW_TYPE
 * need to be defined. The string view will be used in the internal namespace.
 */

#if (defined(GLUECODIUM_STRING_VIEW_HEADER) && !defined(GLUECODIUM_STRING_VIEW_TYPE)) || \
      (!defined(GLUECODIUM_STRING_VIEW_HEADER) && defined(GLUECODIUM_STRING_VIEW_TYPE))
# error "Either both GLUECODIUM_STRING_VIEW_HEADER and GLUECODIUM_STRING_VIEW_TYPE or neither of them must be defined"
#endif

#if !defined(GLUECODIUM_STRING_VIEW_HEADER) && !defined(GLUECODIUM_STRING_VIEW_TYPE)
#  if (defined(_MSC_VER) && _MSC_VER >= 1911 && _MSVC_LANG >= 201703L) || __cplusplus >= 201703L
#    define GLUECODIUM_STRING_VIEW_HEADER <string_view>
#    define GLUECODIUM_STRING_VIEW_TYPE std::string_view
#  else
#    define GLUECODIUM_STRING_VIEW_HEADER "StringViewImpl.h"
#    define GLUECODIUM_STRING_VIEW_TYPE {{>common/InternalNamespace}}StringView
#  endif
#endif // !defined(GLUECODIUM_STRING_VIEW_HEADER) && !defined(GLUECODIUM_STRING_VIEW_TYPE)

#include GLUECODIUM_STRING_VIEW_HEADER

{{#internalNamespace}}
namespace {{.}} {
{{/internalNamespace}}
using string_view = GLUECODIUM_STRING_VIEW_TYPE;

{{#internalNamespace}}
}
{{/internalNamespace}}