{{>common/DocComment}}
{{#if visibility.toString}}{{visibility}} {{/if}}{{#qualifiers}}{{.}} {{/qualifiers}}class {{name}} {{#if this.extendedClass}}extends {{extendedClass.name}} {{/if}}{{#if parentInterfaces}}implements {{join parentInterfaces delimiter=", " }} {{/if}}{
{{#if isParcelable}}{{prefixPartial "java/ParcelableCreator" "    "}}

{{/if}}
{{#constants}}{{prefixPartial "java/Constant" "    "}}
{{/constants}}
{{#fields}}{{prefixPartial "java/Field" "    "}}
{{/fields}}
{{#enums}}{{prefixPartial "java/Enum" "    "}}
{{/enums}}
{{#exceptions}}{{#set static=true}}{{prefixPartial "java/ExceptionDefinition" "    "}}{{/set}}
{{/exceptions}}
{{#innerClasses}}{{prefixPartial "java/Class" "    "}}
{{/innerClasses}}
{{#if isImplClass}}{{prefixPartial "java/NativeConstructor" "    "}}
{{/if}}
{{#if allVisibleFields}}
    public {{name}}() {}

    public {{name}}({{#allVisibleFields}}{{type}} {{name}}{{#if iter.hasNext}}, {{/if}}{{/allVisibleFields}}) {
{{#if parentFields}}        super({{#parentFields}}{{name}}{{#if iter.hasNext}}, {{/if}}{{/parentFields}});
{{/if}}{{!!
}}{{#fields}}        this.{{name}} = {{name}};
{{/fields}}
    }
{{/if}}
{{#if isParcelable}}{{prefixPartial "java/ParcelableImpl" "    "}}

{{/if}}
{{#if isEquatable}}{{prefixPartial "java/EqualsAndHashCode" "    "}}
{{/if}}
{{#if needsBuilder}}{{prefixPartial "java/FieldsBuilder" "    "}}

{{/if}}
{{#methods}}{{prefixPartial "java/MethodSignature" "    "}}
{{/methods}}
}
