@Override
public boolean equals(Object obj) {
    if (obj == this) return true;
    if (!(obj instanceof {{name}})) return false;
    final {{name}} other = ({{name}}) obj;
    return {{joinPartial allVisibleFields "fieldEq" " &&
            " }};
}

@Override
public int hashCode() {
    int hash = 7;
{{#allVisibleFields}}
    hash = 31 * hash + {{>fieldHash}};
{{/allVisibleFields}}
    return hash;
}{{!!

}}{{+fieldEq}}{{!!
    }}{{#instanceOf type "JavaPrimitiveType"}}{{!!
        }}{{#switch type.name}}{{!!
        }}{{#case "float"}}Float.compare(this.{{name}}, other.{{name}}) == 0{{/case}}{{!!
        }}{{#case "double"}}Double.compare(this.{{name}}, other.{{name}}) == 0{{/case}}{{!!
        }}{{#default}}this.{{name}} == other.{{name}}{{/default}}{{!!
        }}{{/switch}}{{!!
    }}{{/instanceOf}}{{!!
    }}{{#notInstanceOf type "JavaPrimitiveType"}}java.util.Objects.equals(this.{{name}}, other.{{name}}){{/notInstanceOf}}{{!!
}}{{/fieldEq}}{{!!

}}{{+fieldHash}}{{!!
    }}{{#instanceOf type "JavaPrimitiveType"}}{{!!
        }}{{#switch type.name}}{{!!
        }}{{#case "boolean"}}(this.{{name}} ? 79 : 97){{/case}}{{!!
        }}{{#case "long"}}(int) (this.{{name}} ^ (this.{{name}} >>> 32)){{/case}}{{!!
        }}{{#case "float"}}Float.floatToIntBits(this.{{name}}){{/case}}{{!!
        }}{{#case "double"}}(int) (Double.doubleToLongBits(this.{{name}}) ^ (Double.doubleToLongBits(this.{{name}}) >>> 32)){{/case}}{{!!
        }}{{#default}}this.{{name}}{{/default}}{{!!
        }}{{/switch}}{{!!
    }}{{/instanceOf}}{{!!
    }}{{#notInstanceOf type "JavaPrimitiveType"}}(this.{{name}} != null ? this.{{name}}.hashCode() : 0){{/notInstanceOf}}{{!!
}}{{/fieldHash}}
