{{#if visibility.toString}}{{visibility}} {{/if}}{{#if static}}static {{/if}}class {{name}} extends Exception {
    {{name}}(final {{enumTypeRef.name}} error) {
        super(Integer.toString(error.value));
        this.error = error;
    }

    public final {{enumTypeRef.name}} error;
}