{{#if comment}}
/**
{{prefix comment " * "}}
 */
{{/if}}
{{#annotations}}
@{{name}}
{{/annotations}}
{{#if visibility.toString}}{{visibility}} {{/if}}{{#if isImmutable}}final {{/if}}{{type.name}} {{name}};