
public static class Builder {
{{#allVisibleFields}}
    private {{type.name}} {{name}}{{#if initial}} = {{>java/FieldInitializer}}{{/if}};
{{/allVisibleFields}}

    public Builder() {
    }

    {{#allVisibleFields}}
    public Builder set{{capitalize name}}({{type}} {{name}}) {
        this.{{name}} = {{name}};
        return this;
    }
    {{/allVisibleFields}}

    public {{name}} build() {
        return new {{name}}({{#allVisibleFields}}{{name}}{{#if iter.hasNext}}, {{/if}}{{/allVisibleFields}});
    }
}