
public static class Builder {
{{#fields}}
    private {{type.name}} {{name}}{{#if initial}} = {{>java/FieldInitializer}}{{/if}};
{{/fields}}

    public Builder() {
    }

    {{#fields}}
    public Builder set{{capitalize name}}({{type}} {{name}}) {
        this.{{name}} = {{name}};
        return this;
    }
    {{/fields}}

    public {{name}} build() {
        return new {{name}}({{#fields}}{{name}}{{#if iter.hasNext}}, {{/if}}{{/fields}});
    }
}