{{#if hasComment}}{{#if comment}}
/**
{{prefix comment " * "}}
{{#if isNonNull}}
 * @nonNull
{{/if}}
 */
{{/if}}
{{#unless comment}}{{#if isNonNull}}
/** @nonNull */
{{/if}}{{/unless}}{{/if}}
{{#annotations}}
@{{name}}
{{/annotations}}
{{#if visibility.toString}}{{visibility}} {{/if}}{{type.name}} {{name}}{{#initial}} = {{#isNew}}new {{/isNew}}{{name}}{{#isNew}}(){{/isNew}}{{/initial}};