{{>java/CopyrightHeader}}

{{#javaPackage}}
{{>java/Package}}
{{/javaPackage}}

{{#if imports}}
{{#imports}}
{{>java/Import}}
{{/imports}}

{{/if}}
{{>common/DocComment}}
{{#if visibility.toString}}{{visibility}} {{/if}}interface {{name}} {{#if parentInterfaces}}extends {{join parentInterfaces delimiter=", " }} {{/if}}{
{{#constants}}{{prefixPartial "java/Constant" "    "}}
{{/constants}}
{{#enums}}{{prefixPartial "java/Enum" "    "}}
{{/enums}}
{{#innerClasses}}{{prefixPartial "java/Class" "    "}}
{{/innerClasses}}
{{#set isInterface=true}}{{#methods}}{{prefixPartial "java/MethodSignature" "    "}}
{{/methods}}{{/set}}
}
