{{#unless isConstructor}}{{>java/MethodComment}}{{/unless}}
{{#allAnnotations}}
@{{name}}
{{/allAnnotations}}
{{^isInterface}}{{#if isConstructor}}private {{/if}}{{#unless isConstructor}}{{#if visibility.toString}}{{visibility}} {{/if}}{{/unless}}{{/isInterface}}{{!!
}}{{#qualifiers}}{{.}} {{/qualifiers}}{{returnType.name}} {{name}}({{joinPartial parameters "java/Parameter" ", "}}){{#exception}} throws {{name}}{{/exception}};