{{>java/MethodComment}}
{{#allAnnotations}}
@{{name}}
{{/allAnnotations}}
{{^isInterface}}{{#if visibility.toString}}{{visibility}} {{/if}}{{/isInterface}}{{#qualifiers}}{{.}} {{/qualifiers}}{{returnType.name}} {{name}}({{joinPartial parameters "java/Parameter" ", "}}){{#exception}} throws {{name}}{{/exception}};