.gradle
bin
build
.DS_Store
gradle
.classpath
.project
.settings
gradlew
gradlew.bat
xtend-gen
local.properties
out
.idea/gradle.xml
.idea/workspace.xml
.idea/libraries/
.idea/xtextAutoBuilderState.xml
transpiler/generated/
*.orig
