{{#unless isExternal}}
{{>common/DocComment}}
enum {{#isScoped}}class {{/isScoped}}{{name}} {
{{joinPartial items "enumItem" ",
"}}
};
{{/unless}}{{!!

}}{{+enumItem}}
{{#if comment}}
{{prefixPartial "common/DocComment" "    "}}
{{/if}}
    {{name}}{{#value}} = {{name}}{{/value}}{{!!
}}{{/enumItem}}
