{{>cpp/CppCommentHeader}}

{{#headerInclude}}{{>common/Include}}{{/headerInclude}}

{{#namespace}}
namespace {{.}} {

{{/namespace}}
{{#classes}}
{{name}}::~{{name}}() = default;

{{#set className=name}}{{#members}}
{{#instanceOf this "CppConstant"}}const {{type.name}} {{className}}::{{name}} = {{value.name}};{{/instanceOf}}
{{/members}}{{/set}}
{{/classes}}
{{#members}}
{{#instanceOf this "CppConstant"}}const {{type.name}} {{name}} = {{value.name}};{{/instanceOf}}
{{/members}}
{{#errorEnums}}
std::error_code
make_error_code( {{.}} value ) noexcept
{
    return std::error_code( static_cast<int>( value ), std::generic_category( ) );
}

{{/errorEnums}}
{{#namespace}}
}
{{/namespace}}
