{{#if comment}}
/**
{{prefix comment " * "}}
{{#parameters}}
{{#if this.comment}} * \param[in] {{name}} {{comment}}{{/if}}
{{/parameters}}
{{#if returnComment}}
 * \return {{returnComment}}
{{/if}}
 */
{{/if}}
{{#specifiers}}{{.}} {{/specifiers}}{{returnType.name}} {{name}}( {{joinPartial parameters "methodParameter" ", "}} ){{#qualifiers}} {{.}}{{/qualifiers}}{{!!

}}{{+methodParameter}}const {{#type}}{{name}}{{^refersToValueType}}&{{/refersToValueType}}{{/type}} {{name}}{{/methodParameter}}