{{#if hasComment}}
/**
{{prefix comment " * "}}
{{#parameters}}
{{#if hasComment}} * \param[in] {{name}} {{#if isNotNull}}@NotNull {{/if}}{{comment}}{{/if}}
{{/parameters}}
{{#if hasReturnComment}}
 * \return {{#if isNotNull}}@NotNull {{/if}}{{returnComment}}
{{/if}}
 */
{{/if}}
{{#specifiers}}{{.}} {{/specifiers}}{{returnType.name}} {{name}}( {{joinPartial parameters "cpp/CppMethodParameter" ", "}} ){{#qualifiers}} {{.}}{{/qualifiers}}