{{#unless isExternal}}
struct {{name}}{{#parentStruct}}: {{visibility}} {{parent.name}}{{/parentStruct}} {
{{#if isEquatable}}
    bool operator==( const {{name}}& rhs ) const;
    bool operator!=( const {{name}}& rhs ) const;

{{/if}}{{!!
}}{{#fields}}
{{#if hasComment}}
{{prefixPartial "cpp/CppFieldComment" "    "}}
{{/if}}
    {{type.name}} {{name}}{{#initializer}} = {{name}}{{/initializer}};
{{/fields}}
};
{{/unless}}