{{#unless isExternal}}
struct {{name}}{{#parentStruct}}: {{visibility}} {{parent.name}}{{/parentStruct}} {
{{#fields}}
{{#if hasComment}}
{{prefixPartial "cpp/CppFieldComment" "    "}}
{{/if}}
    {{#if isImmutable}}const {{/if}}{{type.name}} {{name}}{{#initializer}} = {{name}}{{/initializer}};
{{/fields}}{{!!
}}{{#if allVisibleFields}}

    {{name}}( );
    {{name}}( {{joinPartial allVisibleFields "cpp/CppMethodParameter" ", "}} );

{{/if}}{{!!
}}{{#if isEquatable}}

    bool operator==( const {{name}}& rhs ) const;
    bool operator!=( const {{name}}& rhs ) const;

{{/if}}
};
{{/unless}}