{{>cpp/CppCommentHeader}}

#pragma once

#include <cstddef>

namespace {{.}}
{
/**
 * A hash function for enums.
 */
struct EnumHash
{
    template < typename T >
    std::size_t
    operator( )( T t ) const
    {
        return static_cast< std::size_t >( t );
    }
};
}
