{{>cpp/CppCommentHeader}}

#pragma once

#ifdef {{.}}_SHARED
#   if defined(_WIN32) || defined(__CYGWIN)
#       ifdef {{.}}_INTERNAL
#           define {{.}}_EXPORT __declspec( dllexport )
#       else
#           define {{.}}_EXPORT __declspec( dllimport )
#       endif
#   else
#       define {{.}}_EXPORT __attribute__( ( visibility( "default" ) ) )
#   endif
#else
#   define {{.}}_EXPORT
#endif
