{{>xml/CopyrightHeader}}

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{this}}">

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>