{{!!
  !
  ! Copyright (C) 2016-2019 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{#if hasComment}}
{{prefixPartial "combinedComment" "/// "}}{{#if comment.isExcluded}}
/// :nodoc:{{/if}}{{#comment.deprecated}}
@available(*, deprecated{{#if this}}, message: "{{this}}"{{/if}}){{/comment.deprecated}}
{{/if}}{{!!

}}{{+combinedComment}}{{comment.documentation}}{{!!
}}{{#switch parameters.size}}{{!!
}}{{#case 0}}{{/case}}{{!!
}}{{#case 1}}{{#parameters}}
- Parameter {{name}}: {{prefix this.comment.documentation "    " skipFirstLine=true}}{{/parameters}}{{/case}}{{!!
}}{{#default}}
- Parameters:{{#parameters}}
  - {{name}}: {{prefix this.comment.documentation "      " skipFirstLine=true}}{{/parameters}}{{/default}}{{!!
}}{{/switch}}{{!!
}}{{#unless isConstructor isReturningVoid logic="and"}}{{!! document the return value if it's neither a constructor nor returning void}}
- Returns: {{prefix returnComment "    " skipFirstLine=true}}{{/unless}}{{!!
}}{{#if error}}
- Throws: `{{error.name}}` {{prefix error.comment "    " skipFirstLine=true}}{{/if}}{{!!
}}{{/combinedComment}}