{{!!
  !
  ! Copyright (C) 2016-2020 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{#if attributes.swift.extension}}
extension {{resolveName}} {
{{#constants}}
{{prefixPartial "swift/SwiftConstant" "    "}}
{{/constants}}

{{#each typeAliases exceptions}}
{{prefixPartial "swift/SwiftTypeAlias" "    "}}
{{/each}}

{{#lambdas}}
{{prefixPartial "swift/SwiftLambdaDefinition" "    "}}
{{/lambdas}}

{{#enumerations}}
{{prefixPartial "swift/SwiftEnumDefinition" "    "}}
{{/enumerations}}

{{#structs}}
{{prefixPartial "swift/SwiftStructDefinition" "    "}}
{{/structs}}
}

{{#lambdas}}
{{>swift/SwiftLambdaConversion}}
{{/lambdas}}

{{#enumerations}}
{{>swift/SwiftEnumConversion}}
{{/enumerations}}

{{#structs}}
{{>swift/SwiftStructConversion}}
{{/structs}}
{{/if}}{{!!

}}{{#unless attributes.swift.extension}}
{{#each typeAliases exceptions}}
{{>swift/SwiftTypeAlias}}
{{/each}}

{{#lambdas}}
{{>swift/SwiftLambdaDefinition}}

{{>swift/SwiftLambdaConversion}}
{{/lambdas}}

{{#enumerations}}
{{>swift/SwiftEnumDefinition}}

{{>swift/SwiftEnumConversion}}
{{/enumerations}}

{{#structs}}
{{>swift/SwiftStructDefinition}}

{{>swift/SwiftStructConversion}}
{{/structs}}

{{#if constants}}
{{resolveName visibility}} struct {{resolveName}} {
{{#constants}}
{{prefixPartial "swift/SwiftConstant" "    "}}
{{/constants}}
}
{{/if}}
{{/unless}}
