{{^useParentCInstance}}let c_instance : _baseRef

init(c{{name}}: _baseRef) {
    guard c{{name}} != 0 else {
        fatalError("Nullptr value is not supported for initializers")
    }
    c_instance = c{{name}}
}

deinit {
    {{cInstance}}_release_handle(c_instance)
}{{/useParentCInstance}}{{!!

}}{{#useParentCInstance}}init(c{{name}}: _baseRef) {
    super.init(c{{parentClass}}: c{{name}})
}{{/useParentCInstance}}
