{{cBaseName}}({{^isStatic}}c_instance{{#if parameters}}, {{/if}}{{/isStatic}}{{#parameters}}{{#switch type.category.toString}}{{!!
  }}{{#case "BUILTIN_BYTEBUFFER" break=false}}{{/case}}{{!!
  }}{{#case "DICTIONARY" break=false}}{{/case}}{{!!
  }}{{#case "STRUCT"}}{{variableName}}_handle{{/case}}{{!!
  }}{{#case "CLASS"}}{{variableName}}_handle.ref{{/case}}{{!!
  }}{{#case "ENUM"}}{{variableName}}.rawValue{{/case}}{{!!
  }}{{#case "ARRAY"}}{{variableName}}_handle.c_type{{/case}}{{!!
  }}{{#default}}{{variableName}}{{/default}}{{!!
}}{{/switch}}{{#if iter.hasNext}}, {{/if}}{{/parameters}})