let result_string_handle = {{include delegateToCall}}
defer {
    std_string_release_handle(result_string_handle)
}
return String(data: Data(bytes: std_string_data_get(result_string_handle),
                         count: Int(std_string_size_get(result_string_handle))), encoding: .utf8)!