{{! Adding method parameters.
}}{{#parameters}}{{name}}{{!!
}}{{#if differentInterfaceAndVariableName}} {{!!
    }}{{variableName}}{{!!
    }}{{/if}}: {{>argumentName}}{{#if iter.hasNext}}, {{/if}}{{!!
}}{{/parameters}}{{!!

}}{{+argumentName}}{{!!
}}{{#switch type.category.toString}}{{!!
}}{{#case "ARRAY"}}T{{variableName}}{{/case}}{{!!
}}{{#default}}{{type.publicName}}{{/default}}{{!!
}}{{/switch}}{{/argumentName}}