{{#parameters}}{{name}}{{!!
}}{{#if differentInterfaceAndVariableName}} {{!!
    }}{{variableName}}{{!!
    }}{{/if}}: {{type.publicName}}{{#if type.optional}}?{{/if}}{{#if iter.hasNext}}, {{/if}}{{!!
}}{{/parameters}}