{{>swift/Comment}}
{{^isInterface}}{{visibility}} {{/isInterface}}var {{name}}: {{type.publicName}} {
    get {
{{#propertyAccessors.0}}
{{prefixPartial 'swift/ParametersConversion' '        '}}
{{/propertyAccessors.0}}
    }
{{^readonly}}    set {
{{#propertyAccessors.1}}{{prefixPartial 'swift/ParametersConversion' '        '}}{{/propertyAccessors.1}}
    }{{/readonly}}
}
