{{!!
  !
  ! Copyright (C) 2016-2018 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
internal func convertToCType() -> _baseRef {
{{#set structName=simpleName}}
{{#fields}}
{{#switch type.category.toString}}
{{#case "BUILTIN_BYTEBUFFER"}}
    {{>fillDataType}}
{{/case}}
{{#case "STRUCT"}}
    {{>fillStruct}}
{{/case}}
{{#case "CLASS"}}
    {{>fillClass}}
{{/case}}
{{#case "ENUM"}}
    {{>fillEnum}}
{{/case}}
{{#case "ARRAY"}}
    {{>fillArray}}
{{/case}}
{{#case "DICTIONARY"}}
    {{>fillDictionary}}
{{/case}}
{{#case "BUILTIN_STRING" break="false"}}{{/case}}
{{#default}}
    {{>fillBasicType}}
{{/default}}
{{/switch}}
{{/fields}}
{{/set}}
    return {{cPrefix}}_create_handle({{#fields}}{{name}}_handle{{#if iter.hasNext}}, {{/if}}{{/fields}})
}

{{+fillBasicType}}let {{name}}_handle = {{name}}
{{/fillBasicType}}

{{+fillDataType}}let {{name}}_handle = byteArray_create_handle()
defer {
    byteArray_release_handle({{name}}_handle)
}
{{name}}.withUnsafeBytes { ({{name}}_ptr: UnsafePointer<UInt8>) in
    byteArray_assign({{name}}_handle, {{name}}_ptr, {{name}}.count)
}
{{/fillDataType}}

{{+fillStruct}}let {{name}}_handle = {{name}}.convertToCType()
defer {
    {{type.cPrefix}}_release_handle({{name}}_handle)
}
{{/fillStruct}}

{{+fillClass}}let {{name}}_handle = getRef({{name}}).ref
{{/fillClass}}

{{+fillEnum}}let {{name}}_handle = {{name}}.rawValue
{{/fillEnum}}

{{+fillArray}}let {{name}}_conversion = {{name}}.c_conversion()
defer {
  {{name}}_conversion.cleanup()
}
let {{name}}_handle = {{name}}_conversion.c_type
{{/fillArray}}{{!!

}}{{+fillDictionary}}let {{name}}_handle = convert{{type.name}}ToCType({{name}})
defer {
  {{type.cPrefix}}_release_handle({{name}}_handle)
}
{{/fillDictionary}}