{{>swift/Comment}}
{{visibility}} struct {{simpleName}}{{#isEquatable}}: Equatable{{/isEquatable}} {
{{#constants}}
{{prefixPartial "swift/Constant" "    "}}
{{/constants}}{{!!
}}{{#if fields}}{{#fields}}
{{#if this.comment}}
    /**
{{prefix this.comment '     '}}
     */
{{/if}}
    {{visibility}} var {{name}}: {{type.publicName}}{{#type.optional}}?{{/type.optional}}
{{/fields}}

{{prefixPartial "swift/StructPublicInitMethod" "    "}}{{/if}}{{#if parent}}

{{prefixPartial "swift/StructParentConversionFunction" "    "}}{{/if}}{{#if fields}}

{{prefixPartial "swift/StructInternalInitMethod" "    "}}

{{prefixPartial "swift/StructCBaseCreationMethod" "    "}}

{{prefixPartial "swift/StructFillFunction" "    "}}{{/if}}
}
