{{!!
  !
  ! Copyright (C) 2016-2025 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{>kotlin/KotlinDocComment}}{{>kotlin/KotlinAttributes}}
{{#if external.kotlin.converter}}{{!!
}}{{#internalApiAnnotation}}{{#unless this.isEmpty}}@{{this}}
{{/unless}}{{/internalApiAnnotation}}internal {{!!
}}{{/if}}{{!!
}}{{#unless external.kotlin.converter}}{{>kotlin/KotlinTypeVisibility}}{{/unless}}{{!!
}}class {{resolveName}}{{!!
}}{{#unless external.kotlin.name}}{{!!
}}{{#if attributes.serializable}} : Parcelable{{/if}}{{!!
}}{{/unless}} {
{{#set isImmutable=attributes.immutable}}
{{#fields}}
{{prefixPartial "kotlin/KotlinDocComment" "    "}}{{prefixPartial "kotlin/KotlinAttributes" "    "}}{{!!
}}    @JvmField {{!!
}}{{resolveName "synthetic"}}{{resolveName "visibility"}}{{!!
}}{{#unless isImmutable}}var {{/unless}}{{!!
}}{{#if isImmutable}}val {{/if}}{{!!
}}{{resolveName}}: {{resolveName typeRef}}{{!!
}}
{{/fields}}
{{/set}}

{{>kotlin/KotlinContainerContents}}

{{!!
    1. If user explicitly specified constructors via 'constructor' keyword, then define them.
}}
{{#set self=this}}
{{#constructors}}
{{prefixPartial "kotlin/KotlinMethodComment" "    "}}
{{#thrownType}}@Throws({{resolveName typeRef}}::class){{/thrownType}}{{!!
}}
   {{#unless self.external.kotlin.converter}}{{resolveName "visibility"}}{{/unless}}{{!!
}}constructor({{!!
}}{{#parameters}}{{!!
}}{{resolveName}}: {{resolveName typeRef}}{{#if iter.hasNext}}, {{/if}}{{!!
}}{{/parameters}}) {
        val _other = {{resolveName}}({{#parameters}}{{resolveName}}{{#if iter.hasNext}}, {{/if}}{{/parameters}})
{{#fields}}        this.{{resolveName}} = _other.{{resolveName}}
{{/fields}}
    }
{{/constructors}}
{{/set}}

{{#if fields}}{{!!
}}{{#unless constructors}}{{!!

}}{{#unless fieldConstructors}}{{!!
}}{{#if initializedFields}}{{!!
}}{{#unless attributes.kotlin.positionalDefaults}}
{{!!
    2. If user did not specify any constructors and field constructors and there are fields with default value,
       then define a constructor which takes only fields, which do not have default value.

       **Note**: this constructor will not be generated if PositionalDefaults is specified for a given structure,
                 because the constructor generated for positional defaults covers this case.
}}
{{#unless constructorComment.isEmpty}}
    /**
{{#resolveName constructorComment}}{{prefix this "     * "}}{{/resolveName}}{{!!
}}{{#uninitializedFields}}
     * @param {{resolveName}} {{#resolveName comment}}{{prefix this "     * " skipFirstLine=true}}{{/resolveName}}
{{/uninitializedFields}}
     */
{{/unless}}
    {{#ifPredicate "hasInternalFreeArgsConstructor"}}{{!!
}}internal {{!!
}}{{/ifPredicate}}constructor({{!!
}}{{#uninitializedFields}}{{!!
}}{{resolveName}}: {{resolveName typeRef}}{{#if iter.hasNext}}, {{/if}}{{!!
}}{{/uninitializedFields}}) {
{{#fields}}        this.{{resolveName}} = {{#if defaultValue}}{{resolveName defaultValue}}{{/if}}{{!!
                   }}{{#unless defaultValue}}{{resolveName}}{{/unless}}
{{/fields}}
    }
{{/unless}}{{!!
}}{{/if}}{{!!
}}{{/unless}}{{!!

}}{{#ifPredicate "needsAllFieldsConstructor"}}{{!!
    3. If user did not specify any constructors, field constructor and fields with default values, then
       define a constructor, which allows setting all fields.
}}
{{#unless constructorComment.isEmpty}}
    /**
{{#resolveName constructorComment}}{{prefix this "     * "}}{{/resolveName}}
{{#fields}}
     * @param {{resolveName}} {{#resolveName comment}}{{prefix this "     * " skipFirstLine=true}}{{/resolveName}}
{{/fields}}
     */
{{/unless}}
    {{#ifPredicate "hasInternalAllArgsConstructor"}}{{!!
}}internal {{!!
}}{{/ifPredicate}}constructor({{!!
}}{{#fields}}{{!!
}}{{resolveName}}: {{resolveName typeRef}}{{#if iter.hasNext}}, {{/if}}{{!!
}}{{/fields}}) {
{{#fields}}        this.{{resolveName}} = {{resolveName}}
{{/fields}}
    }
{{/ifPredicate}}{{!!
}}{{/unless}}{{!!

    4. Generate field constructors specified by the user.
}}{{#set self=this}}{{#fieldConstructors}}
{{#ifPredicate "hasAnyComment"}}
    /**
{{#unless comment.isEmpty}}{{#resolveName comment}}{{prefix this "     * "}}
{{/resolveName}}{{/unless}}{{!!
}}{{#if comment.isEmpty}}{{#resolveName constructorComment}}{{#unless this.isEmpty}}{{prefix this "     * "}}
{{/unless}}{{/resolveName}}{{/if}}{{!!
}}{{#if comment.isExcluded}}
     * @suppress
{{/if}}{{!!
}}{{#fields}}
     * @param {{resolveName}} {{#resolveName comment}}{{prefix this "     * " skipFirstLine=true}}{{/resolveName}}
{{/fields}}
     */{{#if attributes.deprecated}}
    @Deprecated("{{#resolveName attributes.deprecated.message}}{{escape this}}{{/resolveName}}")
{{/if}}{{/ifPredicate}}
{{prefixPartial "kotlin/KotlinAttributes" "    "}}
{{#thrownType}}@Throws ({{resolveName typeRef}}::class){{/thrownType}}{{!!
}}
    {{#unless self.external.kotlin.converter}}{{resolveName "visibility"}}{{/unless}}{{!!
}}constructor({{!!
}}{{#fields}}{{!!
}}{{resolveName}}: {{resolveName typeRef}}{{#if iter.hasNext}}, {{/if}}{{!!
}}{{/fields}}) {
{{#fields}}        this.{{resolveName}} = {{resolveName}}
{{/fields}}
{{#omittedFields}}        this.{{resolveName}} = {{resolveName defaultValue}}
{{/omittedFields}}
    }
{{/fieldConstructors}}{{/set}}{{!!

    5. Generate positional defaults constructor if it is specified and there are no field constructors.
}}{{#unless fieldConstructors}}{{!!
}}{{#if attributes.kotlin.positionalDefaults}}
{{#unless constructorComment.isEmpty}}
    /**
{{#resolveName constructorComment}}{{prefix this "     * "}}{{/resolveName}}
{{#uninitializedFields}}
     * @param {{resolveName}} {{#resolveName comment}}{{prefix this "     * " skipFirstLine=true}}{{/resolveName}}
{{/uninitializedFields}}
{{#initializedFields}}
     * @param {{resolveName}} {{#resolveName comment}}{{prefix this "     * " skipFirstLine=true}}{{/resolveName}}
{{/initializedFields}}
     */
{{/unless}}{{#instanceOf attributes.kotlin.positionalDefaults "String"}}
    @Deprecated("{{attributes.kotlin.positionalDefaults}}")
{{/instanceOf}}
    {{#if initializedFields}}@JvmOverloads
    {{/if}}{{!!
    }}{{#unless external.kotlin.converter}}{{resolveName "visibility"}}{{/unless}}{{!!
}}constructor({{!!
}}{{#uninitializedFields}}{{!!
}}{{resolveName}}: {{resolveName typeRef}}, {{!!
}}{{/uninitializedFields}}{{!!
}}{{#initializedFields}}{{resolveName}}: {{resolveName typeRef}} = {{resolveName defaultValue}}{{!!
}}{{#if iter.hasNext}}, {{/if}}{{/initializedFields}}) {
{{#fields}}        this.{{resolveName}} = {{resolveName}}
{{/fields}}
    }
{{/if}}{{!!
}}{{/unless}}{{!!
}}{{/if}}

{{#if attributes.equatable}}{{prefixPartial "kotlin/KotlinEqualsAndHashCode" "    "}}
{{/if}}

{{#unless external.kotlin.name}}{{!!
}}{{#if attributes.serializable}}{{prefixPartial "kotlin/KotlinParcelableImpl" "    "}}

{{/if}}{{/unless}}

{{#functions}}
{{#unless isStatic}}
{{prefixPartial "kotlin/KotlinFunction" "    "}}
{{/unless}}
{{/functions}}

{{#eval "optimizedLists" path}}{{#this}}
{{#elementType}}{{prefixPartial "kotlin/KotlinLazyNativeList" "    "}}{{/elementType}}
{{/this}}{{/eval}}

{{#ifPredicate "needsCompanionObject"}}
    companion object {
{{#constants}}{{prefixPartial "kotlin/KotlinConstant" "        "}}
{{/constants}}
{{#ifPredicate "hasStaticFunctions"}}
{{#set self=this isStructure=true}}
{{#self}}
{{#functions}}
{{#if isStatic}}
{{prefixPartial "kotlin/KotlinFunction" "        "}}
{{/if}}
{{/functions}}
{{/self}}
{{/set}}
{{/ifPredicate}}
{{#unless external.kotlin.name}}
{{#if attributes.serializable}}{{prefixPartial "kotlin/KotlinParcelableCreator" "        "}}
{{/if}}{{/unless}}
    }
{{/ifPredicate}}
}
