{{!!
  !
  ! Copyright (C) 2016-2025 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{>kotlin/KotlinDocComment}}{{>kotlin/KotlinAttributes}}
{{#if isStatic}}@JvmStatic {{/if}}{{!!
}}{{#if override}}override {{/if}}{{!!
}}{{#unless isInterface}}{{resolveName "visibility"}}{{/unless}}{{!!
}}{{#if setter}}var{{/if}}{{!!
}}{{#unless setter}}val{{/unless}}{{!!
}} {{resolveName}}: {{resolveName typeRef}}
{{#unless isCached}}{{#set thisProperty=this}}{{#thisProperty}}
    {{#unless isInterface}}{{!!
}}{{#unless override}}{{!!

}}{{resolveName thisProperty "synthetic"}}{{#resolveName thisProperty "visibility" ""}}{{!!
  }}{{#unless this.isEmpty}}@JvmName("{{resolveName thisProperty "" "getter"}}") {{/unless}}{{!!
  }}{{#if this.isEmpty}}{{#ifPredicate thisProperty "propertyGetterRequiresJvmName"}}@JvmName("{{resolveName thisProperty "" "getter"}}") {{/ifPredicate}}{{/if}}{{!!
}}{{/resolveName}}{{!!

}}{{/unless}}{{!!
}}external {{/unless}}get{{#setter}}
    {{#unless isInterface}}{{!!
}}{{#unless override}}{{!!

}}{{resolveName thisProperty "synthetic"}}{{#resolveName thisProperty "visibility" ""}}{{!!
  }}{{#unless this.isEmpty}}@JvmName("{{resolveName thisProperty "" "setter"}}") {{/unless}}{{!!
  }}{{#if this.isEmpty}}{{#ifPredicate thisProperty "propertySetterRequiresJvmName"}}@JvmName("{{resolveName thisProperty "" "setter"}}") {{/ifPredicate}}{{/if}}{{!!
}}{{/resolveName}}{{!!

}}{{/unless}}{{!!
}}external {{/unless}}set{{/setter}}
{{/thisProperty}}{{/set}}{{/unless}}
{{#if isCached}}{{#set thisProperty=this}}{{#thisProperty}}
    {{resolveName thisProperty "synthetic" ""}}{{!!
    }}get() {
        if (!is_cached_{{resolveName}}) {
            cache_{{resolveName}} = {{resolveName this "" "getter"}}_private()
            is_cached_{{resolveName}} = true
        }

        return cache_{{resolveName}}{{#unless typeRef.isNullable}}!!{{/unless}}
    }

{{#if isStatic}}@JvmStatic {{/if}}private var is_cached_{{resolveName}} = false
{{#if isStatic}}@JvmStatic {{/if}}private var cache_{{resolveName}}: {{resolveName typeRef}}{{!!
}}{{#unless typeRef.isNullable}}?{{/unless}} = null
{{#if isStatic}}@JvmStatic {{/if}}external private fun {{resolveName this "" "getter"}}_private() : {{resolveName typeRef}}

{{/thisProperty}}{{/set}}{{/if}}