{{!!
  !
  ! Copyright (C) 2016-2021 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{#set property=this}}{{#getter}}
{{>dart/DartDocumentation}}{{>dart/DartAttributes}}{{!!
}}{{#if isStatic}}{{#unless testableMode}}static {{/unless}}{{/if}}{{!!
}}{{resolveName property.typeRef}} get {{resolveName visibility}}{{resolveName property}}{{!!
}}{{#if isStatic}} => {{#if testableMode}}$class{{/if}}{{#unless testableMode}}{{resolveName parent}}$Impl{{/unless}}.{{!!
}}{{resolveName visibility}}{{resolveName property}}{{/if}};
{{/getter}}
{{#setter}}
{{>dart/DartDocumentation}}{{>dart/DartAttributes}}{{!!
}}{{#if isStatic}}{{#unless testableMode}}static {{/unless}}{{!!
}}{{/if}}set {{resolveName visibility}}{{resolveName property}}({{resolveName property.typeRef}} value){{!!
}}{{#if isStatic}} { {{#if testableMode}}$class{{/if}}{{#unless testableMode}}{{resolveName parent}}$Impl{{/unless}}{{!!
}}.{{resolveName visibility}}{{resolveName property}} = value; }{{/if}}{{#unless isStatic}};{{/unless}}
{{/setter}}{{/set}}
