// -------------------------------------------------------------------------------------------------
//
{{prefixPartial "common/CopyrightNotice" "// "}}
//
{{#if generatorNotice}}
// -------------------------------------------------------------------------------------------------
//
{{prefix generatorNotice "// "}}
//
{{/if}}
// -------------------------------------------------------------------------------------------------
