{{>common/DocComment}}
class {{name}}{{>cpp/CppInheritance}} {
{{#if structs}}
public:
{{#structs}}
{{>cpp/CppStruct}}
{{/structs}}

{{/if}}
{{#if enums}}
public:
{{#enums}}
{{>cpp/CppEnum}}
{{/enums}}

{{/if}}
{{#if usings}}
public:
{{#usings}}
{{>cpp/CppUsing}}
{{/usings}}

{{/if}}
{{#if methods}}
public:
{{#methods}}
{{>cpp/CppMethodSignature}};
{{/methods}}

{{/if}}
{{#if fields}}
private:
{{#fields}}
{{type.name}} {{name}}{{#initializer}} = {{initializer.name}}{{/initializer}};
{{/fields}}

{{/if}}
};
