{{>common/DocComment}}
class {{name}}{{>cpp/CppInheritance}} {
{{#unless hasOnlyStaticMethods}}
public:
    virtual ~{{name}}() = 0;

{{/unless}}
{{#if hasSortedMembers}}
public:
{{#sortedMembers}}
{{#instanceOf this "CppEnum"}}{{>cpp/CppEnum}}{{/instanceOf}}
{{#instanceOf this "CppUsing"}}{{>cpp/CppUsing}}{{/instanceOf}}
{{#instanceOf this "CppStruct"}}
{{>common/DocComment}}
{{>cpp/CppStruct}}
{{/instanceOf}}
{{#instanceOf this "CppTaggedUnion"}}
{{>common/DocComment}}
{{>cpp/CppTaggedUnion}}
{{/instanceOf}}
{{/sortedMembers}}

{{/if}}
{{#if methods}}
public:
{{#methods}}
{{>cpp/CppMethodSignature}};
{{/methods}}

{{/if}}
{{#if fields}}
private:
{{#fields}}
{{type.name}} {{name}}{{#initializer}} = {{initializer.name}}{{/initializer}};
{{/fields}}

{{/if}}
};
