// -------------------------------------------------------------------------------------------------
//
{{#year}}{{prefixPartial "common/CopyrightNotice" "// "}}{{/year}}
//
{{#if generatorNotice}}
// -------------------------------------------------------------------------------------------------
//
{{prefix generatorNotice "// "}}
//
{{/if}}
// -------------------------------------------------------------------------------------------------
