#pragma once

{{#if includes}}
{{#includes}}
{{>common/Include}}
{{/includes}}

{{/if}}
{{#namespace}}
namespace {{.}} {

{{/namespace}}
{{#if hasSortedMembers}}
{{#sortedMembers}}
{{#instanceOf this "CppEnum"}}{{>cpp/CppEnum}}{{/instanceOf}}
{{#instanceOf this "CppConstant"}}{{>cpp/CppConstant}}{{/instanceOf}}
{{#instanceOf this "CppUsing"}}{{>cpp/CppUsing}}{{/instanceOf}}
{{#instanceOf this "CppStruct"}}
{{>common/DocComment}}
{{>cpp/CppStruct}}
{{/instanceOf}}
{{#instanceOf this "CppTaggedUnion"}}
{{>common/DocComment}}
{{>cpp/CppTaggedUnion}}
{{/instanceOf}}
{{/sortedMembers}}
{{/if}}
{{#classes}}
{{>cpp/CppClass}}
{{/classes}}
{{#if members}}

{{/if}}
{{#namespace}}
}
{{/namespace}}
