{{>cpp/CppCommentHeader}}

{{#headerInclude}}{{>common/Include}}{{/headerInclude}}

{{#namespace}}
namespace {{.}} {

{{/namespace}}
{{#classes}}
{{name}}::~{{name}}() = default;

{{/classes}}
{{#namespace}}
}
{{/namespace}}
