#pragma once

{{#if includes}}
{{#includes}}
{{>common/Include}}
{{/includes}}

{{/if}}
{{#name}}
namespace {{.}} {

{{/name}}
{{#constants}}
{{>cpp/CppConstant}}
{{/constants}}
{{#enums}}
{{>cpp/CppEnum}}
{{/enums}}
{{#structs}}
{{>cpp/CppCompoundType}}
{{/structs}}
{{#usings}}
{{>cpp/CppUsing}}
{{/usings}}
{{#classes}}
{{>cpp/CppClass}}
{{/classes}}
{{#if members}}

{{/if}}
{{#name}}
}
{{/name}}
