{{>cpp/CppDocComment}}
struct {{name}} {
{{#fields}}
{{#if comment}}
{{prefixPartial "cpp/CppDocComment" "    "}}
{{/if}}
    {{type.name}} {{name}}{{#initializer}} = {{name}}{{/initializer}};
{{/fields}}
};
