struct {{name}}{{>cpp/CppInheritance}} {
{{#fields}}
{{#if hasComment}}
{{prefixPartial "cpp/CppFieldComment" "    "}}
{{/if}}
    {{type.name}} {{name}}{{#initializer}} = {{name}}{{/initializer}};
{{/fields}}
};
