// -------------------------------------------------------------------------------------------------
//
// Copyright (C) 2017 HERE Global B.V. and/or its affiliated companies. All rights reserved.
//
// This software, including documentation, is protected by copyright controlled by
// HERE Global B.V. All rights are reserved. Copying, including reproducing, storing,
// adapting or translating, any or all of this material requires the prior written
// consent of HERE Global B.V. This material also contains confidential information,
// which may not be disclosed to others without prior written consent of HERE Global B.V.
//
// -------------------------------------------------------------------------------------------------

#pragma once

#include <iostream>

namespace {{.}}
{
/**
 * A hash function for enums.
 */
struct EnumHash
{
    template < typename T >
    std::size_t
    operator( )( T t ) const
    {
        return static_cast< std::size_t >( t );
    }
};
}
