_baseRef {{name}}_create() {
    return { new {{arrayType.arrayBaseApi}}()};;
}

void {{name}}_release(_baseRef handle) {
    delete get_pointer<{{arrayType.arrayBaseApi}}>(handle);
}

uint64_t {{name}}_count(_baseRef handle) {
    return get_pointer<{{arrayType.arrayBaseApi}}>(handle)->size();
}

{{innerType}} {{name}}_get(_baseRef handle, uint64_t index) { {{!!
    }}{{#switch underlyingType.typeCategory.toString}}{{!!
    }}{{#case "BUILTIN_STRING" break=false}}{{/case}}{{!!
    }}{{#case "STRUCT"}}{{prefixPartial 'structGetConversion' '    '}}{{/case}}{{!!
    }}{{#case "CLASS"}}{{prefixPartial 'classGetConversion' '    '}}{{/case}}{{!!
    }}{{#case "ARRAY"}}{{prefixPartial 'arrayGetConversion' '    '}}{{/case}}{{!!
    }}{{#case "ENUM"}}{{prefixPartial 'enumGetConversion' '    '}}{{/case}}{{!!
    }}{{#default}}{{prefixPartial 'defaultGetConversion' '    '}}{{/default}}{{!!
    }}{{/switch}}
}

void {{name}}_append(_baseRef handle, {{argument}} item) { {{!!
}}{{#switch underlyingType.typeCategory.toString}}{{!!
    }}{{#case "STRUCT" break=false}}{{/case}}{{!!
    }}{{#case "CLASS"  break=false}}{{/case}}{{!!
    }}{{#case "ARRAY"}}{{prefixPartial 'classAppendConversion' '    '}}{{/case}}{{!!
    }}{{#case "ENUM"}}{{prefixPartial 'enumAppendConversion' '    '}}{{/case}}{{!!
    }}{{#case "BUILTIN_STRING"}}{{prefixPartial 'stringAppendConversion' '    '}}{{/case}}{{!!
    }}{{#default}}{{prefixPartial 'defaultAppendConversion' '    '}}{{/default}}{{!!
    }}{{/switch}}
}

{{+structGetConversion}}
return {{innerType}} {
    new {{underlyingType.name}} {
        (*get_pointer<{{arrayType.arrayBaseApi}}>(handle))[index]
    }
};{{/structGetConversion}}

{{+classGetConversion}}
return {{innerType}} {
    checked_pointer_copy(get_pointer<{{arrayType.arrayBaseApi}}>(handle)->at(index))
};{{/classGetConversion}}

{{+arrayGetConversion}}
return {{innerType}} {
    new {{underlyingType.arrayBaseApi}} {
        (*get_pointer<{{arrayType.arrayBaseApi}}>(handle))[index]
    }
};{{/arrayGetConversion}}

{{+enumGetConversion}}
return static_cast<{{innerType}}>((*get_pointer<{{arrayType.arrayBaseApi}}>(handle))[index]);{{/enumGetConversion}}

{{+defaultGetConversion}}
return (*get_pointer<{{arrayType.arrayBaseApi}}>(handle))[index];{{/defaultGetConversion}}

{{+classAppendConversion}}
get_pointer<{{arrayType.arrayBaseApi}}>(handle)->push_back(*get_pointer<{{underlyingType.name}}>(item));{{/classAppendConversion}}

{{+defaultAppendConversion}}
get_pointer<{{arrayType.arrayBaseApi}}>(handle)->push_back(item);{{/defaultAppendConversion}}

{{+stringAppendConversion}}
get_pointer<{{arrayType.arrayBaseApi}}>(handle)->push_back(std::string(item));{{/stringAppendConversion}}

{{+enumAppendConversion}}
get_pointer<{{arrayType.arrayBaseApi}}>(handle)->push_back(static_cast<{{arrayType.innerType.name}}>(item));{{/enumAppendConversion}}
