{{name}} {{name}}_create();
void {{name}}_release({{name}} handle);
uint64_t {{name}}_count({{name}} handle);
{{innerType}} {{name}}_get({{name}} handle, uint64_t index);
void {{name}}_append({{name}} handle, {{argument}} item);


