{{>cbridge/FunctionSignature}} {
{{#conversions}}    auto&& {{name}} = {{expression}};
{{/conversions}}
{{#returnConversion}}
    {
        auto&& {{returnConversion.name}} = get_pointer(_instance)->get()->{{functionName}}({{#conversions}}{{name}}{{#if iter.hasNext}}, {{/if}}{{/conversions}});
        return {{returnConversion.expression}};
    }
{{/returnConversion}}
{{^returnConversion}}
    get_pointer(_instance)->get()->{{functionName}}({{#conversions}}{{name}}{{#if iter.hasNext}}, {{/if}}{{/conversions}});
{{/returnConversion}}
}