typedef struct {
    void* swift_pointer;
    void(*release)(void* swift_pointer);
{{#functions}}
    {{<cbridge/FunctionSignature}}
        {{$functionName}}(*{{name}}){{/functionName}}
    {{/cbridge/FunctionSignature}};
{{/functions}}
} {{functionTableName}};
