{{+delegateConversion}}{{#switch mappedType.typeCategory.toString}}{{!!
    }}{{#case "BUILTIN_BYTEBUFFER"}}std::vector<uint8_t>({{name}}_ptr, {{name}}_ptr + {{name}}_size){{/case}}{{!!
    }}{{#case "BUILTIN_STRING"}}std::string({{name}}){{/case}}{{!!
    }}{{#case "STRUCT"}}*get_pointer({{name}}){{/case}}{{!!
    }}{{#case "INSTANCE"}}*get_pointer({{name}}){{/case}}{{!!
    }}{{#case "ENUM"}}static_cast<{{mappedType.baseType}}>({{name}}){{/case}}{{!!
    }}{{#default}}{{name}}{{/default}}{{!!
}}{{/switch}}{{/delegateConversion}}
{{+callBaseApi}}{{^selfParameter}}{{delegateCall}}{{/selfParameter}}{{#selfParameter}}get_pointer({{name}})->get()->{{functionName}}{{/selfParameter}}({{joinPartial parameters "delegateConversion" ", "}}){{/callBaseApi}}
{{>cbridge/FunctionSignature}} {
{{#switch returnType.typeCategory.toString}}
    {{#case "BUILTIN_SIMPLE"}}return {{>callBaseApi}};{{/case}}{{!!
    }}{{#case "ENUM"}}return static_cast<{{returnType.functionReturnType}}>({{>callBaseApi}})};{{/case}}{{!!
    }}{{#default}}return {new {{returnType.baseType}}({{>callBaseApi}})};{{/default}}
{{/switch}}
}