{{>cbridge/FunctionSignature}} {
{{>FunctionBody}}
}

{{+FunctionBody}}{{!!
}}{{#if error}}{{!!
}}{{#if isReturningVoid}}    return {{>callBaseApi}}.code().code();{{/if}}{{!!
}}{{#unless isReturningVoid}}    auto&& RESULT = {{>callBaseApi}};
    if (RESULT.has_value()) {
        return {true, .returned_value = {{#set delegateToCall="safe_value"}}{{>ReturnConversion}}{{/set}}};
    } else {
        return {false, .error_code = RESULT.error().code().code()};
    }{{!!
}}{{/unless}}{{!!
}}{{/if}}{{!!
}}{{#unless error}}    return {{#set delegateToCall="callBaseApi"}}{{>ReturnConversion}}{{/set}};{{/unless}}
{{/FunctionBody}}{{!!


}}{{+ReturnConversion}}{{#switch returnType.typeCategory.toString}}{{!!
    }}{{#case "BUILTIN_SIMPLE"}}{{include delegateToCall}}{{/case}}{{!!
    }}{{#case "ENUM"}}static_cast<{{returnType.functionReturnType}}>({{include delegateToCall}}){{/case}}{{!!
    }}{{#case "ARRAY"}}reinterpret_cast<_baseRef>( new {{returnType.arrayBaseApi}}({{include delegateToCall}}) ){{/case}}{{!!
    }}{{#case "CLASS"}}reinterpret_cast<_baseRef>( checked_pointer_copy({{include delegateToCall}}) ){{/case}}{{!!
    }}{{#default}}reinterpret_cast<_baseRef>( new {{returnType.name}}({{include delegateToCall}}) ){{/default}}{{!!
}}{{/switch}}{{/ReturnConversion}}{{!!


}}{{+safe_value}}RESULT.safe_value(){{/safe_value}}{{!!


}}{{+callBaseApi}}{{!!
}}{{^selfParameter}}{{delegateCall}}{{/selfParameter}}{{#selfParameter}}get_pointer<{{selfParameter.mappedType.name}}>({{name}})->get()->{{functionName}}{{/selfParameter}}({{joinPartial parameters "delegateConversion" ", "}}){{!!
}}{{/callBaseApi}}{{!!


}}{{+delegateConversion}}{{#switch mappedType.typeCategory.toString}}{{!!
    }}{{#case "BUILTIN_BYTEBUFFER"}}std::vector<uint8_t>({{name}}_ptr, {{name}}_ptr + {{name}}_size){{/case}}{{!!
    }}{{#case "BUILTIN_STRING"}}std::string({{name}}){{/case}}{{!!
    }}{{#case "STRUCT"}}*get_pointer<{{mappedType.name}}>({{name}}){{/case}}{{!!
    }}{{#case "CLASS"}}*get_pointer<{{mappedType.name}}>({{name}}){{/case}}{{!!
    }}{{#case "ENUM"}}static_cast<{{mappedType.name}}>({{name}}){{/case}}{{!!
    }}{{#case "ARRAY"}}*get_pointer<{{mappedType.arrayBaseApi}}>({{name}}){{/case}}{{!!
    }}{{#default}}{{name}}{{/default}}{{!!
}}{{/switch}}{{/delegateConversion}}
