#pragma once
#ifdef __cplusplus
extern "C" {
#endif

{{#headerIncludes}}{{>common/Include}}{{/headerIncludes}}

{{#structs}}{{>cbridge/CStruct}}{{/structs}}
{{#functions}}{{^internalOnlyFunction}}{{>cbridge/FunctionSignature}};{{/internalOnlyFunction}}{{/functions}}

#ifdef __cplusplus
}
#endif
