#pragma once
#ifdef __cplusplus
extern "C" {
#endif

{{#headerIncludes}}{{>common/Include}}{{/headerIncludes}}

{{#enumerators}}{{>cbridge/Enumeration}}{{/enumerators}}
{{#structs}}{{>cbridge/StructDefinition}}{{/structs}}

{{#if selfType}}
typedef struct {
    void* const private_pointer;
} {{selfType.functionReturnType}};

void {{name}}_release({{selfType.functionReturnType}} handle);

{{/if}}
{{#if functionTableName}}
{{>cbridge/FunctionTable}}

{{/if}}
{{#functions}}
{{>cbridge/FunctionSignature}};
{{/functions}}

#ifdef __cplusplus
}
#endif
