#pragma once
#ifdef __cplusplus
extern "C" {
#endif

{{#headerIncludes}}{{>cbridge/Include}}{{/headerIncludes}}

{{#structs}}
{{>cbridge/CStruct}}

{{/structs}}
{{#functions}}{{#declarationTemplate}}{{include .}}{{/declarationTemplate}}{{/functions}}

#ifdef __cplusplus
}
#endif
