{{>cbridge/FileHeader}}

{{#implementationIncludes}}
{{>common/Include}}
{{/implementationIncludes}}

{{#if selfType}}
void {{name}}_release(_baseRef handle) {
    delete get_pointer<{{selfType.name}}>(handle);
}
{{/if}}

{{#structs}}
{{>cbridge/StructImplementation}}
{{/structs}}

{{#functions}}
{{>cbridge/FunctionDefinition}}
{{/functions}}

{{#isInterface}}
{{>cbridge/CppProxy}}
{{/isInterface}}
