{{#implementationIncludes}}
{{>cbridge/Include}}
{{/implementationIncludes}}
{{#functions}}{{#declareInImplementationOnly}}{{#definitionTemplate}}{{include . }}{{/definitionTemplate}}{{/declareInImplementationOnly}}{{/functions}}
{{#functions}}{{^declareInImplementationOnly}}{{#definitionTemplate}}{{include . }}{{/definitionTemplate}}{{/declareInImplementationOnly}}{{/functions}}

