{{#implementationIncludes}}
{{>common/Include}}
{{/implementationIncludes}}

{{#functions}}
{{^internalOnlyFunction}}{{#definitionTemplate}}{{include . }}{{/definitionTemplate}}{{/internalOnlyFunction}}
{{/functions}}


