_baseRef {{name}}_create();
void {{name}}_release(_baseRef handle);
_baseRef {{name}}_iterator(_baseRef handle);
void {{name}}_iterator_release(_baseRef iterator_handle);
void {{name}}_put(_baseRef handle, {{keyType.functionReturnType}} key, {{valueType.functionReturnType}} value);
bool {{name}}_iterator_is_valid(_baseRef handle, _baseRef iterator_handle);
void {{name}}_iterator_increment(_baseRef iterator_handle);
{{keyType.functionReturnType}} {{name}}_iterator_key(_baseRef iterator_handle);
{{valueType.functionReturnType}} {{name}}_iterator_value(_baseRef iterator_handle);
