#pragma once

{{#privateHeaderIncludes}}{{>common/Include}}{{/privateHeaderIncludes}}

{{#functions}}{{#internalOnlyFunction}}
{{#definitionTemplate}}{{include . }}{{/definitionTemplate}}
{{/internalOnlyFunction}}{{/functions}}

