{{type}} {{name}}_create();
void {{name}}_release({{type}} handle);

{{#set structname=name structtype=type}}
{{#fields}}
{{type.functionReturnType}} {{structname}}_{{name}}_get({{structtype}} handle);
{{^type.isStruct}}void {{structname}}_{{name}}_set({{structtype}} handle, {{join setterParameters delimiter=", "}});{{/type.isStruct}}
{{/fields}}
{{/set}}