{{>cbridge/FunctionExport}}_baseRef {{name}}_create_handle();
{{>cbridge/FunctionExport}}void {{name}}_release_handle(_baseRef handle);
{{>cbridge/FunctionExport}}uint64_t {{name}}_count(_baseRef handle);
{{>cbridge/FunctionExport}}{{innerType}} {{name}}_get(_baseRef handle, uint64_t index);
{{>cbridge/FunctionExport}}void {{name}}_append(_baseRef handle, {{argument}} item);


