{{#if error}}{{!!
    }}{{#if isReturningVoid}}{{error.functionReturnType}}{{/if}}{{!!
    }}{{#unless isReturningVoid}}{{name}}_result{{/unless}}{{!!
}}{{/if}}{{!!
}}{{#unless error}}{{returnType.functionReturnType}}{{/unless}}