{{>cbridge/FileHeader}}

#pragma once

#ifdef __cplusplus
extern "C" {
#endif

#include "cbridge/include/BaseHandle.h"
{{#headerIncludes}}{{>common/Include}}{{/headerIncludes}}
{{#if maps}}#include <stdbool.h>{{/if}}

{{#enumerators}}{{>cbridge/Enumeration}}{{/enumerators}}

{{#functions}}{{#if error}}{{#unless isReturningVoid}}{{>cbridge/ThrowingFunctionReturnType}}
{{/unless}}{{/if}}{{/functions}}

{{#structs}}{{>cbridge/StructFunctionDeclarations}}{{/structs}}

{{#if selfType}}
void {{name}}_release_handle(_baseRef handle);
_baseRef {{name}}_copy_handle(_baseRef handle);

{{/if}}
{{#isInterface}}
{{>cbridge/FunctionTable}}

_baseRef {{name}}_create_proxy({{functionTableName}} functionTable);
const void* {{name}}_get_swift_object_from_cache(_baseRef handle);
{{/isInterface}}
{{#functions}}
{{>cbridge/FunctionSignature}};
{{/functions}}

{{#maps}}{{>cbridge/MapFunctionSignatures}}{{/maps}}

#ifdef __cplusplus
}
#endif
