{{>cbridge/FunctionExport}}_baseRef {{name}}_create_handle();
{{>cbridge/FunctionExport}}void {{name}}_release_handle(_baseRef handle);
{{>cbridge/FunctionExport}}_baseRef {{name}}_iterator(_baseRef handle);
{{>cbridge/FunctionExport}}void {{name}}_iterator_release_handle(_baseRef iterator_handle);
{{>cbridge/FunctionExport}}void {{name}}_put(_baseRef handle, {{keyType.functionReturnType}} key, {{valueType.functionReturnType}} value);
{{>cbridge/FunctionExport}}bool {{name}}_iterator_is_valid(_baseRef handle, _baseRef iterator_handle);
{{>cbridge/FunctionExport}}void {{name}}_iterator_increment(_baseRef iterator_handle);
{{>cbridge/FunctionExport}}{{keyType.functionReturnType}} {{name}}_iterator_key(_baseRef iterator_handle);
{{>cbridge/FunctionExport}}{{valueType.functionReturnType}} {{name}}_iterator_value(_baseRef iterator_handle);
