{{>cbridge/FunctionExport}}_baseRef {{name}}_create_handle({{#fields}}{{type.cType}} {{name}}{{#if iter.hasNext}}, {{/if}}{{/fields}});
{{>cbridge/FunctionExport}}void {{name}}_release_handle(_baseRef handle);

{{#set structname=name}}
{{#fields}}
{{>cbridge/FunctionExport}}{{type.functionReturnType}} {{structname}}_{{name}}_get(_baseRef handle);
{{/fields}}
{{/set}}