_baseRef {{name}}_create() {
    return reinterpret_cast<_baseRef>( new {{baseApiName}}() );
}

void {{name}}_release(_baseRef handle) {
    delete get_pointer<{{mappedType.name}}>(handle);
}

{{#set structname=name}}
{{#fields}}
{{type.functionReturnType}} {{structname}}_{{name}}_get(_baseRef handle) {
    auto struct_pointer = get_pointer<{{mappedType.name}}>(handle);
{{#switch type.typeCategory.toString}}
    {{#case "ENUM"}}return static_cast<{{type.functionReturnType}}>({{>getBaseLayerFieldValue}});{{/case}}{{!!
    }}{{#case "MAP" break=false}}{{/case}}{{!!
    }}{{#case "ARRAY"}}return reinterpret_cast<_baseRef>( new {{type.baseApi}}({{>getBaseLayerFieldValue}}) );{{/case}}{{!!
    }}{{#case "BUILTIN_STRING" break=false}}{{/case}}{{!!
    }}{{#case "STRUCT"}}return reinterpret_cast<_baseRef>( new {{type.name}}({{>getBaseLayerFieldValue}}) );{{/case}}{{!!
    }}{{#case "BUILTIN_BYTEBUFFER" break=false}}{{/case}}{{!!
    }}{{#case "CLASS"}}return reinterpret_cast<_baseRef>( checked_pointer_copy({{>getBaseLayerFieldValue}}) );{{/case}}{{!!
    }}{{#default}}return {{>getBaseLayerFieldValue}};{{/default}}
{{/switch}}
}

void {{structname}}_{{name}}_set(_baseRef handle, {{type.cTypesNeededByConstructor.0.toString}} {{name}}) {
    {{>setBaseLayerFieldValue}}{{#switch type.typeCategory.toString}}{{!!
    }}{{#case "ENUM"}}static_cast<{{type.name}}>({{name}}){{/case}}{{!!
    }}{{#case "MAP" break=false}}{{/case}}{{!!
    }}{{#case "ARRAY"}}*get_pointer<{{type.baseApi}}>({{name}}){{/case}}{{!!
    }}{{#case "BUILTIN_BYTEBUFFER" break=false}}{{/case}}{{!!
    }}{{#case "STRUCT" break=false}}{{/case}}{{!!
    }}{{#case "CLASS"}}*get_pointer<{{type.name}}>({{name}}){{/case}}{{!!
    }}{{#default}}{{name}}{{/default}}{{!!
}}{{/switch}}{{#if baseLayerSetterName}}){{/if}};
}
{{/fields}}
{{/set}}{{!!

}}{{+getBaseLayerFieldValue}}struct_pointer->{{#if baseLayerGetterName}}{{baseLayerGetterName}}(){{/if}}{{!!
}}{{#unless baseLayerGetterName}}{{baseLayerName}}{{/unless}}{{/getBaseLayerFieldValue}}{{!!

}}{{+setBaseLayerFieldValue}}get_pointer<{{mappedType.name}}>(handle)->{{#if baseLayerSetterName}}{{baseLayerSetterName}}({{/if}}{{!!
}}{{#unless baseLayerSetterName}}{{baseLayerName}} = {{/unless}}{{/setBaseLayerFieldValue}}
