{{type}} {{name}}_create();
void {{name}}_release(_baseRef handle);

{{#set structname=name}}
{{#fields}}
{{type.functionReturnType}} {{structname}}_{{name}}_get(_baseRef handle);
void {{structname}}_{{name}}_set(_baseRef handle, {{type.cType}} {{name}});
{{/fields}}
{{/set}}