BasedOnStyle:  Google

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine : false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: true
BinPackParameters: false
BreakBeforeBinaryOperators: true
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
ColumnLimit:     100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerBinding: false
IndentCaseLabels : false
IndentWidth:     4
PenaltyBreakComment: 60
SortIncludes: false
SortUsingDeclarations: false
SpaceInEmptyParentheses: true
SpacesInAngles:  true
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth:        4