{
  auto javaClass = _jenv->FindClass("{{>jni/JavaClassSignaturePrefix}}{{javaClass.name}}");
  auto _jresult = create_object(_jenv, javaClass);
{{#fields}}
  {{#hasCustomType}}
  auto j{{cppField.name}} = convert_to_jni{{#if type.isJavaArray}}_array{{/if}}(_jenv, _ninput.{{cppField.name}});
  set_object_field(_jenv, javaClass, _jresult, "{{javaField.name}}",
  {{#hasTemplateType}}
  "L{{#javaField.type.packageNames}}{{.}}/{{/javaField.type.packageNames}}{{#javaField.type.classNames}}{{.}}{{/javaField.type.classNames}};", j{{cppField.name}});
  {{/hasTemplateType}}
  {{^hasTemplateType}}
  {{#javaField.type.isInterface}}
  "L{{#javaField.type.packageNames}}{{.}}/{{/javaField.type.packageNames}}{{javaField.type.name}};", j{{cppField.name}});
  {{/javaField.type.isInterface}}
  {{^javaField.type.isInterface}}
  "L{{>jni/JavaClassSignaturePrefix}}{{#javaField.type.classNames}}{{#iter.isLast}}{{.}}{{/iter.isLast}}{{/javaField.type.classNames}};", j{{cppField.name}});
  {{/javaField.type.isInterface}}
  {{/hasTemplateType}}
  _jenv->DeleteLocalRef(j{{cppField.name}});
  {{/hasCustomType}}
  {{^hasCustomType}}
  auto j{{cppField.name}} = {{#if type.isJavaArray}}convert_to_jni_array(_jenv, {{/if}}_ninput.{{cppField.name}}{{#if type.isJavaArray}}){{/if}};
  set_{{javaField.type.literalName}}_field(_jenv, javaClass, _jresult, "{{javaField.name}}", j{{cppField.name}});{{#if type.isJavaArray}}
  _jenv->DeleteLocalRef(j{{cppField.name}});{{/if}}
  {{/hasCustomType}}
{{/fields}}
  return _jresult;
}