{
    auto javaClass = _jenv->FindClass( "{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}}" );
    auto theConstructor = _jenv->GetMethodID( javaClass, "<init>", "(J)L{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}}" );
    return _jenv->NewObject( javaClass, theConstructor, static_cast<jint>( _ninput ) );
}