{
    auto javaClass = _jenv->FindClass( "{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}}" );
    ::std::string enumeratorName;
    switch(_ninput) {
{{#enumerators}}
        case({{>jni/FullyQualifiedCppName}}::{{cppEnumName}}::{{cppName}}):
            enumeratorName = "{{javaName}}";
            break;
{{/enumerators}}
    }
    jfieldID fieldID = _jenv->GetStaticFieldID(javaClass , enumeratorName.c_str(), "L{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}};");
    return _jenv->GetStaticObjectField(javaClass, fieldID);
}