#pragma once

#include <jni.h>
  {{#includes}}
    #include <{{fileName}}>
  {{/includes}}

  namespace here {
  namespace internal {

{{#models}}
  {{#enums}}
    {{>jni/JniToCppEnumerationConversionSignature}};

    {{>jni/CppToJniEnumerationConversionSignature}};

  {{/enums}}
{{/models}}
}
}
