{{#includes}}
{{>common/Include}}
{{/includes}}

namespace here {
namespace internal {

{{#models}}
  {{#enums}}
    {{>jni/JniToCppEnumerationConversionSignature}}
    {{>jni/JniToCppEnumerationConversionBody}}

    {{>jni/CppToJniEnumerationConversionSignature}}
    {{>jni/CppToJniEnumerationConversionBody}}

  {{/enums}}
{{/models}}

}
}