{{#includes}}
{{>common/Include}}
{{/includes}}

namespace {{internalNamespace}} {
namespace jni {

{{#models}}
  {{#enums}}
    {{>jni/JniToCppEnumerationConversionSignature}}
    {{>jni/JniToCppEnumerationConversionBody}}

    {{>jni/CppToJniEnumerationConversionSignature}}
    {{>jni/CppToJniEnumerationConversionBody}}

  {{/enums}}
{{/models}}

}
}