{{>java/CopyrightHeader}}

#pragma once

#include <jni.h>

#ifdef __cplusplus
extern "C" {
#endif

{{#container}}{{#methods}}
JNIEXPORT {{#returnType}}{{name}}{{/returnType}}{{^returnType}}void{{/returnType}} JNICALL
{{>jni/FunctionSignature}};

{{/methods}}{{/container}}

#ifdef __cplusplus
}
#endif
