{{>java/CopyrightHeader}}

#pragma once

#include <jni.h>

#ifdef __cplusplus
extern "C" {
#endif

{{#methods}}
JNIEXPORT {{#returnType}}{{name}}{{/returnType}}{{^returnType}}void{{/returnType}} JNICALL
{{>jni/FunctionSignature}};

{{/methods}}

#ifdef __cplusplus
}
#endif
