{{>java/CopyrightHeader}}

{{#container}}{{#includes}}
{{>common/Include}}
{{/includes}}
#include "android/jni/InstanceConversion.h"
#include "android/jni/StructConversion.h"
#include "android/jni/ProxyConversion.h"
#include "android/jni/EnumConversion.h"
#include "android/jni/ArrayConversionUtils.h"

extern "C" {

{{#methods}}
{{#returnType}}{{name}}{{/returnType}}{{^returnType}}void{{/returnType}}
{{>jni/FunctionSignature}}

{
{{#parameters}}
{{#if type.isComplex}}
    {{type.cppName}} {{name}};
    {{internalNamespace}}::jni::convert_from_jni( _jenv, j{{name}}, {{name}} );
    _jenv->DeleteLocalRef(j{{name}});
{{/if}}
{{#unless type.isComplex}}
    {{type.cppName}} {{name}} = j{{name}};
{{/unless}}
{{/parameters}}
{{#unless isStatic}}
    auto pointerAsLong = {{internalNamespace}}::jni::get_long_field(_jenv, _jenv->GetObjectClass(_jinstance), _jinstance, "nativeHandle");
    auto pInstanceSharedPointer = reinterpret_cast<std::shared_ptr<{{>jni/FullyQualifiedCppName}}>*> (pointerAsLong);
{{/unless}}
{{>jni/ReturnTypeConversion}}
}

{{/methods}}
void
Java_{{#javaPackages}}{{.}}_{{/javaPackages}}{{javaName}}_disposeNativeHandle(JNIEnv* _jenv, jobject _jinstance, jlong _jpointerRef)
{
    delete reinterpret_cast<std::shared_ptr<::{{#cppNameSpaces}}{{.}}::{{/cppNameSpaces}}{{cppName}}>*> (_jpointerRef);
}
}
{{/container}}
