{{#if includes}}
{{>java/CopyrightHeader}}
{{#includes}}
{{>common/Include}}
{{/includes}}
#include "android/jni/InstanceConversion.h"
#include "android/jni/StructConversion.h"
#include "android/jni/ProxyConversion.h"

extern "C" {

{{#methods}}
{{#returnType}}{{name}}{{/returnType}}{{^returnType}}void{{/returnType}}
{{>jni/FunctionSignature}}

{
{{#parameters}}
  {{>jni/ParameterConversion}}
{{/parameters}}
{{#unless isStatic}}
    auto pointerAsLong = get_long_field(_jenv, _jenv->GetObjectClass(_jinstance), _jinstance, "nativeHandle");
    auto pInstanceSharedPointer = reinterpret_cast<std::shared_ptr<{{>jni/FullyQualifiedCppName}}>*> (pointerAsLong);
{{/unless}}
    {{#if returnType}}auto result = {{/if}}{{>jni/CppMethodCall}}
{{#if returnType}}    return {{#if returnType.isComplex}}here::internal::convert_to_jni(_jenv, result){{/if}}{{#unless returnType.isComplex}}result{{/unless}};{{/if}}
}

{{/methods}}
{{#if isInstantiable}}
void
Java_{{#javaPackages}}{{.}}_{{/javaPackages}}{{javaName}}_disposeNativeHandle(JNIEnv* _jenv, jobject _jinstance, jlong _jpointerRef)
{
    delete reinterpret_cast<std::shared_ptr<::{{#cppNameSpaces}}{{.}}::{{/cppNameSpaces}}{{cppName}}>*> (_jpointerRef);
}
{{/if}}
}
{{/if}}
