{{#if includes}}
{{>java/CopyrightHeader}}
{{#includes}}
{{>common/Include}}
{{/includes}}
#include "android/jni/InstanceConversion.h"
#include "android/jni/StructConversion.h"

extern "C" {

{{#methods}}
{{#returnType}}{{name}}{{/returnType}}{{^returnType}}void{{/returnType}}
{{>jni/FunctionSignature}}

{
{{#parameters}}
{{#if type.isComplex}}
    {{type.cppName}} {{name}};
    here::internal::convert_from_jni( env, j{{name}}, {{name}} );
{{/if}}
{{#unless type.isComplex}}
    {{type.cppName}} {{name}} = j{{name}};
{{/unless}}
{{/parameters}}
{{#unless isStatic}}
    auto pointerAsLong = get_long_field(env, env->GetObjectClass(jinstance), jinstance, "nativeHandle");
    auto pInstanceSharedPointer = reinterpret_cast<std::shared_ptr<::{{#cppNameSpaces}}{{.}}::{{/cppNameSpaces}}{{cppName}}>*> (pointerAsLong);
{{/unless}}
    {{#if returnType}}auto result = {{/if}}{{>jni/CppMethodCall}}
{{#if returnType}}    return {{#if returnType.isComplex}}here::internal::convert_to_jni(env, result){{/if}}{{#unless returnType.isComplex}}result{{/unless}};{{/if}}
}

{{/methods}}
{{#if isInstantiable}}
void
Java_{{#javaPackages}}{{.}}_{{/javaPackages}}{{javaName}}_disposeNativeHandle(JNIEnv* env, jobject jinstance, jlong pointerRef)
{
    delete reinterpret_cast<std::shared_ptr<::{{#cppNameSpaces}}{{.}}::{{/cppNameSpaces}}{{cppName}}>*> (pointerRef);
}
{{/if}}
}
{{/if}}
