{{#includes}}
#include <{{fileName}}>
{{/includes}}

namespace here {
namespace internal {

{{#models}}
  {{>jni/CppToJniInstanceConversionSignature}}
  {{>jni/CppToJniInstanceConversionBody}}
{{/models}}

}
}