{{#includes}}
{{>common/Include}}
{{/includes}}
#include "android/jni/ArrayConversionUtils.h"

namespace {{internalNamespace}} {
namespace jni {

{{#models}}
{{>jni/CppToJniInstanceConversionSignature}}

{{>jni/CppToJniInstanceConversionBody}}

{{/models}}
}
}
