#pragma once

#include <jni.h>
{{#includes}}
#include <{{fileName}}>
{{/includes}}

#define NATIVE_BASE "{{join basePackages delimiter="/"}}/NativeBase"

namespace here {
namespace internal {

{{#models}}
{{>jni/CppToJniInstanceConversionSignature}};

{{>jni/JniToCppInstanceConversionSignature}};

{{/models}}

}
}
