{{#includes}}
{{>common/Include}}
{{/includes}}
#include "android/jni/ArrayConversionUtils.h"

namespace here {
namespace internal {

{{#models}}
{{>jni/CppToJniInstanceConversionSignature}}

{{>jni/CppToJniInstanceConversionBody}}

{{/models}}
}
}
