{
    jclass javaClass = _jenv->GetObjectClass(_jinput);
    jmethodID valueMethodID = _jenv->GetMethodID( javaClass, "value", "()I" );
    valueMethodID = valueMethodID ? valueMethodID : _jenv->GetMethodID( javaClass, "ordinal", "()I" );

    jint enumValue = _jenv->CallIntMethod( _jinput, valueMethodID );
    _nout = ::{{>jni/FullyQualifiedCppName}}::{{cppEnumName}}( enumValue );
}