{

  jclass javaClass = _jenv->GetObjectClass(_jinput);
{{#fields}}
  {{#hasCustomType}}

  convert_from_jni(
    _jenv,
    get_object_field(
    _jenv,
    javaClass,
    _jinput,
    "{{javaField.name}}",
    "L{{>jni/JavaClassSignaturePrefix}}{{javaField.type.simpleName}};"),
    _nout.{{cppField.name}} );
  {{/hasCustomType}}
  {{^hasCustomType}}

  _nout.{{cppField.name}} = get_{{javaField.type.literalName}}_field(_jenv, javaClass, _jinput, "{{javaField.name}}");
  {{/hasCustomType}}
{{/fields}}
}
