{

  jclass javaClass = env->GetObjectClass(jinput);
{{#fields}}
  {{#hasCustomType}}

  convert_from_jni(
    env,
    here::internal::get_object_field(
    env,
    javaClass,
    jinput,
    "{{javaField.name}}",
    "L{{#owningModel.javaPackages}}{{.}}/{{/owningModel.javaPackages}}{{owningModel.javaClassName}}${{javaClass.name}};"),
    out.{{cppField.name}} );
  {{/hasCustomType}}
  {{^hasCustomType}}

  out.{{cppField.name}} = get_{{javaField.type.name}}_field(env, javaClass, jinput, "{{javaField.name}}");
  {{/hasCustomType}}
{{/fields}}
}
