{
    jclass javaClass = _jenv->GetObjectClass(_jinput);
    jint enumValue = get_int_field(_jenv,javaClass, _jinput, "value" );
    _nout = {{>jni/FullyQualifiedCppName}}::{{cppEnumName}}( enumValue );
}