    {{#if returnType}}auto result = {{/if}}{{>jni/CppMethodCall}}{{#if returnType}}
    return {{#if returnType.isComplex}}::here::internal::convert_to_jni{{#if returnType.isJavaArray}}_array{{/if}}(_jenv, result){{/if}}{{#unless returnType.isComplex}}result{{/unless}};{{/if}}
