{{#includes}}
#include <{{fileName}}>
{{/includes}}

using namespace here::internal;

{{#models}}
{{#structs}}
{{>jni/JniToCppStructConversionSignature}}
{{>jni/JniToCppStructConversionBody}}

{{>jni/CppToJniStructConversionSignature}}
{{>jni/CppToJniStructConversionBody}}

{{/structs}}
{{/models}}
