{{#includes}}
#include <{{fileName}}>
{{/includes}}
#include "android/jni/ArrayConversionUtils.h"

namespace here {
namespace internal {

{{#models}}
{{#structs}}
{{>jni/JniToCppStructConversionSignature}}
{{>jni/JniToCppStructConversionBody}}

{{>jni/CppToJniStructConversionSignature}}
{{>jni/CppToJniStructConversionBody}}

{{/structs}}
{{/models}}

}
}