{{#includes}}
{{>common/Include}}
{{/includes}}
#include "android/jni/ArrayConversionUtils.h"

namespace {{internalNamespace}} {
namespace jni {

{{#models}}
{{#structs}}
{{>jni/JniToCppStructConversionSignature}}
{{>jni/JniToCppStructConversionBody}}

{{>jni/CppToJniStructConversionSignature}}
{{>jni/CppToJniStructConversionBody}}

{{/structs}}
{{/models}}

}
}