// Placeholder template for JNI struct conversion header

#pragma once

#include <jni.h>

#ifdef __cplusplus
extern "C" {
#endif

// TODO: implement real template in APIGEN-363, APIGEN-364 and APIGEN-365.

#ifdef __cplusplus
}
#endif
