#pragma once

#include <jni.h>
{{#includes}}
{{>common/Include}}
{{/includes}}

namespace here {
namespace internal {

{{#models}}
  {{#structs}}
    {{>jni/JniToCppStructConversionSignature}};

    {{>jni/CppToJniStructConversionSignature}};

  {{/structs}}
{{/models}}
}
}
