
{{#headerInclude}}{{>common/Include}}{{/headerInclude}}
#include "InstanceConversion.h"
#include "StructConversion.h"
#include "ArrayConversionUtils.h"
#include "EnumConversion.h"

{{#container}}
{{#cppNameSpaces}}
namespace {{.}} {

{{/cppNameSpaces}}

using namespace ::{{internalNamespace}}::jni;

{{cppName}}CppProxy::{{cppName}}CppProxy( JNIEnv* _jenv, jobject _jobj, jint _jHashCode )
    : CppProxyBase( _jenv, _jobj, _jHashCode ) {
}
{{#parentMethods}}
{{>proxyMethod}}
{{/parentMethods}}{{!!

}}{{#methods}}
{{>proxyMethod}}
{{/methods}}

{{#cppNameSpaces}}
}
{{/cppNameSpaces}}
{{/container}}{{!!

}}{{+proxyMethod}}
{{>jni/ReturnType}} {{cppName}}CppProxy::{{cppMethodName}}( {{joinPartial parameters "jni/CppProxyMethodParameter" ", "}} ){{#if isConst}} const{{/if}} {
    JNIEnv* jniEnv = getJniEnvironment( );{{!!
}}{{#parameters}}{{!!
}}{{#if type.isComplex}}
    auto j{{name}} = convert_to_jni( jniEnv, n{{name}} );{{!!
}}{{/if}}{{!!
}}{{#unless type.isComplex}}
    j{{type.javaName}} j{{name}} = n{{name}};{{!!
}}{{/unless}}{{!!
}}{{/parameters}}
{{#if returnType}}
    auto result = callJavaMethod<{{returnType.name}}>( "{{javaMethodName}}", "({{#parameters}}{{type.jniTypeSignature}}{{/parameters}}){{returnType.jniTypeSignature}}", {{!!
    }}jniEnv {{#if parameters}},{{/if}} {{#parameters}}j{{name}}{{#if iter.hasNext}}, {{/if}}{{/parameters}});
    return {{#if returnType.isComplex}}{{internalNamespace}}::jni::convert_from_jni( jniEnv, result, ({{returnType.cppName}}*)nullptr ){{/if}}{{!!
    }}{{#unless returnType.isComplex}}result{{/unless}};
{{/if}}{{!!
}}{{#unless returnType}}
    callJavaMethod<void>( "{{javaMethodName}}", "({{#parameters}}{{type.jniTypeSignature}}{{/parameters}})V", {{!!
    }}jniEnv {{#if parameters}},{{/if}} {{#parameters}}j{{name}}{{#if iter.hasNext}}, {{/if}}{{/parameters}});
{{/unless}}
}
{{/proxyMethod}}
