{{!!
  !
  ! Copyright (C) 2016-2019 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}

{{#headerInclude}}{{>common/Include}}{{/headerInclude}}
#include "ArrayConversionUtils.h"
#include "EnumConversion.h"
#include "EnumSetConversion.h"
#include "InstanceConversion.h"
#include "StructConversion.h"

{{#container}}
{{#cppNameSpaces}}
namespace {{.}} {

{{/cppNameSpaces}}

using namespace {{>common/InternalNamespace}}jni;

{{cppName}}CppProxy::{{cppName}}CppProxy( JNIEnv* _jenv, JniReference<jobject> globalRef, jint _jHashCode )
    : CppProxyBase( _jenv, std::move( globalRef ), _jHashCode ) {
}
{{#parentMethods}}
{{>proxyMethod}}
{{/parentMethods}}{{!!

}}{{#methods}}
{{>proxyMethod}}
{{/methods}}

{{#cppNameSpaces}}
}
{{/cppNameSpaces}}
{{/container}}{{!!

}}{{+proxyMethod}}
{{returnType.cppName}} {{cppName}}CppProxy::{{cppMethodName}}( {{joinPartial parameters "jni/CppProxyMethodParameter" ", "}} ){{#if isConst}} const{{/if}} {
    JNIEnv* jniEnv = getJniEnvironment( );{{!!
}}{{#parameters}}{{!!
}}{{#if type.isComplex}}
    auto j{{name}} = convert_to_jni( jniEnv, n{{name}} );{{!!
}}{{/if}}{{!!
}}{{#unless type.isComplex}}
    j{{type.javaName}} j{{name}} = n{{name}};{{!!
}}{{/unless}}{{!!
}}{{/parameters}}
    {{#unless returnType.isJavaVoid}}auto result = {{/unless}}callJavaMethod<{{returnType.name}}>( "{{javaMethodName}}", {{!!
    }}"({{#parameters}}{{type.jniTypeSignature}}{{/parameters}}){{returnType.jniTypeSignature}}", {{!!
    }}jniEnv {{#if parameters}},{{/if}} {{#parameters}}j{{name}}{{#if iter.hasNext}}, {{/if}}{{/parameters}});
{{#if exception}}
    auto jException = {{>common/InternalNamespace}}jni::make_local_ref<jobject>(jniEnv, jniEnv->ExceptionOccurred( ));
    if ( jException )
    {
        auto jEnumValue = {{>common/InternalNamespace}}jni::get_object_field_value(
            jniEnv,
            jException,
            "error",
            "{{exception.jniEnum.jniTypeSignature}}" );
        auto nEnumValue = {{>common/InternalNamespace}}jni::convert_from_jni(
            jniEnv,
            jEnumValue,
            ({{exception.jniEnum.cppFullyQualifiedName}}*)nullptr );

        jniEnv->ExceptionClear( );
        return ::std::error_code{nEnumValue};
    }
    else
    {
{{/if}}{{!!
}}{{#unless returnType.isJavaVoid}}
    return {{#if returnType.isComplex}}{{>common/InternalNamespace}}jni::convert_from_jni( jniEnv, result, ({{returnType.cppName}}{{#if exception}}::value_type{{/if}}*)nullptr ){{/if}}{{!!
    }}{{#unless returnType.isComplex}}result{{/unless}};
{{/unless}}
{{#if exception}}{{#if returnType.isJavaVoid}}
        return ::std::error_code{};
{{/if}}
    }
{{/if}}
}
{{/proxyMethod}}
