{
    auto javaClass = _jenv->FindClass( "{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}}" );
    ::std::string enumeratorName;
    switch(_ninput) {
{{#enumerators}}
        case({{cppEnumName}}::{{cppName}}):
            enumeratorName = "{{javaName}}";
            break;
{{/enumerators}}
    }
    jfieldID fieldID = _jenv->GetStaticFieldID(javaClass , enumeratorName.c_str(), "L{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}};");
    jobject jResult = _jenv->GetStaticObjectField(javaClass, fieldID);
    _jenv->DeleteLocalRef( javaClass );
    return jResult;
}