{{!!
  !
  ! Copyright (C) 2016-2019 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{#includes}}
{{>common/Include}}
{{/includes}}

#include "JniClassCache.h"

namespace {{internalNamespace}}
{
namespace jni
{
{{#models}}{{#enums}}
{{cppEnumName}}
convert_from_jni(JNIEnv* _jenv, const JniReference<jobject>& _jinput, {{cppEnumName}}* dummy)
{
    return {{cppEnumName}}({{internalNamespace}}::jni::get_int_field(_jenv, _jinput, "value"));
}

std::shared_ptr<{{cppEnumName}}>
convert_from_jni(JNIEnv* _jenv, const JniReference<jobject>& _jinput, std::shared_ptr<{{cppEnumName}}>* dummy)
{
    return _jinput
        ? std::make_shared<{{cppEnumName}}>(convert_from_jni(_jenv, _jinput, ({{cppEnumName}}*)nullptr))
        : std::shared_ptr<{{cppEnumName}}>{};
}

REGISTER_JNI_CLASS_CACHE({{cppEnumName}}, "{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}}")

JniReference<jobject>
convert_to_jni(JNIEnv* _jenv, const {{cppEnumName}} _ninput)
{
    auto& javaClass = CachedJavaClass<{{cppEnumName}}>::java_class;
    ::std::string enumeratorName;
    switch(_ninput) {
{{#enumerators}}
        case({{cppEnumName}}::{{cppName}}):
            enumeratorName = "{{javaName}}";
            break;
{{/enumerators}}
    }
    jfieldID fieldID = _jenv->GetStaticFieldID(javaClass.get(), enumeratorName.c_str(), "L{{>jni/JavaClassSignaturePrefix}}{{javaEnumName}};");
    return make_local_ref(_jenv, _jenv->GetStaticObjectField(javaClass.get(), fieldID));
}

JniReference<jobject>
convert_to_jni(JNIEnv* _jenv, const std::shared_ptr<{{cppEnumName}}> _ninput)
{
    return _ninput ? convert_to_jni(_jenv, *_ninput) : JniReference<jobject>{};
}

{{/enums}}{{/models}}
}
}
