{{>java/CopyrightHeader}}

{{#container}}{{#includes}}
{{>common/Include}}
{{/includes}}
#include "InstanceConversion.h"
#include "StructConversion.h"
#include "ProxyConversion.h"
#include "EnumConversion.h"
#include "ArrayConversionUtils.h"
#include "JniReference.h"

extern "C" {

{{#methods}}
{{returnType.name}}
{{>jni/FunctionSignature}}

{
{{#parameters}}
{{#if type.isComplex}}
    {{type.cppName}} {{name}} = {{internalNamespace}}::jni::convert_from_jni( _jenv, {{internalNamespace}}::jni::make_local_ref(_jenv, j{{name}}), ({{type.cppName}}*)nullptr );
{{/if}}
{{#unless type.isComplex}}
    {{type.cppName}} {{name}} = j{{name}};
{{/unless}}
{{/parameters}}
{{#unless isStatic}}
    auto pointerAsLong = {{internalNamespace}}::jni::get_long_field(_jenv,
            {{internalNamespace}}::jni::make_local_ref(_jenv, _jinstance),
            "nativeHandle");
    auto pInstanceSharedPointer = reinterpret_cast<std::shared_ptr<{{cppFullyQualifiedName}}>*> (pointerAsLong);
{{/unless}}
{{>jni/ReturnTypeConversion}}
}

{{/methods}}
void
Java_{{#javaPackages}}{{.}}_{{/javaPackages}}{{javaName}}_disposeNativeHandle(JNIEnv* _jenv, jobject _jinstance, jlong _jpointerRef)
{
    delete reinterpret_cast<std::shared_ptr<{{cppFullyQualifiedName}}>*> (_jpointerRef);
}
}
{{/container}}
