{{#owningContainer}}{{join javaPackages delimiter="/"}}{{#javaInterfaceName}}/{{.}}{{/javaInterfaceName}}{{#isFrancaInterface}}${{/isFrancaInterface}}{{^isFrancaInterface}}/{{/isFrancaInterface}}{{/owningContainer}}