{{!!
  !
  ! Copyright (C) 2016-2018 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{
  jclass javaClass = _jenv->GetObjectClass(_jinput);
{{#fields}}
  {{#hasCustomType}}

  {{cppField.type.name}} n_{{cppField.name}}{};
  convert_from_jni(
    _jenv,
    {{internalNamespace}}::jni::get_object_field(
    _jenv,
    javaClass,
    _jinput,
    "{{javaField.name}}",
    "L{{join javaField.type.packageNames delimiter="/"}}/{{join javaField.type.classNames delimiter="$"}};"),
    n_{{cppField.name}} );
  {{>setCppFieldValue}}n_{{cppField.name}}{{#if cppSetterName}}){{/if}};
  {{/hasCustomType}}
  {{^hasCustomType}}

  {{>setCppFieldValue}}{{internalNamespace}}::jni::get_{{javaField.type.literalName}}_field(_jenv, javaClass, _jinput, "{{javaField.name}}"){{#if cppSetterName}}){{/if}};
  {{/hasCustomType}}
{{/fields}}
}{{!!

}}{{+setCppFieldValue}}_nout.{{#if cppSetterName}}{{cppSetterName}}({{/if}}{{#unless cppSetterName}}{{cppField.name}} = {{/unless}}{{/setCppFieldValue}}
