{{!!
  !
  ! Copyright (C) 2016-2019 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
    {{#exception}}
    auto nativeCallResult = {{>jni/CppMethodCall}}
    auto errorCode = nativeCallResult{{#unless returnType.isJavaVoid}}.error(){{/unless}};
    if ({{#unless returnType.isJavaVoid}}!nativeCallResult.has_value(){{/unless}}{{#if returnType.isJavaVoid}}errorCode{{/if}})
    {
        auto nEnumValue = static_cast<{{jniEnum.cppFullyQualifiedName}}>(errorCode.value());
        auto jEnumValue = {{internalNamespace}}::jni::convert_to_jni(_jenv, nEnumValue);
        auto exceptionClass = {{internalNamespace}}::jni::find_class(_jenv, "{{javaClassName}}");
        auto theConstructor = _jenv->GetMethodID(exceptionClass.get(), "<init>", "({{jniEnum.jniTypeSignature}})V");
        auto exception = {{internalNamespace}}::jni::new_object(_jenv, exceptionClass, theConstructor, jEnumValue);
        _jenv->Throw(static_cast<jthrowable>(exception.release()));{{#unless returnType.isJavaVoid}}
        return {{#if isConstructor}}0{{/if}}{{#unless isConstructor}}{{!!
        }}{{#if returnType.isComplex}}nullptr{{/if}}{{#unless returnType.isComplex}}nativeCallResult.safe_value(){{/unless}}{{/unless}};{{/unless}}
    }{{#unless returnType.isJavaVoid}}
    auto result = nativeCallResult.safe_value();{{/unless}}
    {{/exception}}
{{^exception}}    {{#unless returnType.isJavaVoid}}auto result = {{/unless}}{{>jni/CppMethodCall}}{{/exception}}{{#unless returnType.isJavaVoid}}
    {{#if isConstructor}}auto nSharedPtr = new (::std::nothrow) {{returnType.cppFullyQualifiedName}}{{#if exception}}::value_type{{/if}}(result);
    if (nSharedPtr == nullptr)
    {
        auto exceptionClass = {{internalNamespace}}::jni::find_class(_jenv, "java/lang/OutOfMemoryError");
        _jenv->ThrowNew(exceptionClass.get(), "Cannot allocate native memory.");
        return 0;
    }
    return reinterpret_cast<jlong>(nSharedPtr);{{/if}}{{!!
}}{{#unless isConstructor}}return {{#if returnType.isComplex}}{{internalNamespace}}::jni::convert_to_jni(_jenv, result).release(){{/if}}{{!!
}}{{#unless returnType.isComplex}}result{{/unless}};{{/unless}}{{/unless}}
