{{!!
  !
  ! Copyright (C) 2016-2024 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
{{>java/CopyrightHeader}}

#include "FieldAccessMethods.h"
#include "JniNativeHandle.h"

{{#internalNamespace}}
namespace {{.}}
{
{{/internalNamespace}}
namespace jni
{

std::int64_t get_class_native_handle(JNIEnv * const env, const JniReference<jobject>& jobj) noexcept
{
    return get_field_value(env, jobj, "nativeHandle", (int64_t*)nullptr);
}

std::int64_t get_class_native_handle(JNIEnv * const env, const jobject jobj) noexcept
{
    return get_class_native_handle(env, jni::make_non_releasing_ref(jobj));
}

} // namespace jni
{{#internalNamespace}}
} // namespace {{.}}
{{/internalNamespace}}
