{{!!
  !
  ! Copyright (C) 2016-2018 HERE Europe B.V.
  !
  ! Licensed under the Apache License, Version 2.0 (the "License");
  ! you may not use this file except in compliance with the License.
  ! You may obtain a copy of the License at
  !
  !     http://www.apache.org/licenses/LICENSE-2.0
  !
  ! Unless required by applicable law or agreed to in writing, software
  ! distributed under the License is distributed on an "AS IS" BASIS,
  ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ! See the License for the specific language governing permissions and
  ! limitations under the License.
  !
  ! SPDX-License-Identifier: Apache-2.0
  ! License-Filename: LICENSE
  !
  !}}
// -------------------------------------------------------------------------------------------------
// Copyright (C) 2016-2018 HERE Europe B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
// SPDX-License-Identifier: Apache-2.0
// License-Filename: LICENSE
//
// -------------------------------------------------------------------------------------------------

#pragma once

#include <jni.h>

#include <memory>
#include <mutex>
#include <new>
#include <string>
#include <unordered_map>

namespace {{.}}
{
namespace jni
{

template< typename ResultType, bool IsDerivedFromJObject >
struct JniMethodForType
{
    // If result type is wrong you should have compilation error here
};

template<>
struct JniMethodForType<void, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallVoidMethod;
};

template<>
struct JniMethodForType<jboolean, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallBooleanMethod;
};

template<>
struct JniMethodForType<jbyte, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallByteMethod;
};

template<>
struct JniMethodForType<jchar, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallCharMethod;
};

template<>
struct JniMethodForType<jshort, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallShortMethod;
};

template<>
struct JniMethodForType<jint, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallIntMethod;
};

template<>
struct JniMethodForType<jlong, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallLongMethod;
};

template<>
struct JniMethodForType<jfloat, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallFloatMethod;
};

template<>
struct JniMethodForType<jdouble, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallDoubleMethod;
};

template<>
struct JniMethodForType<jobject, false>
{
    static constexpr auto method_ptr = &JNIEnv::CallObjectMethod;
};

template<typename ResultType>
struct JniMethodForType<ResultType, true>
{
    static constexpr auto method_ptr = JniMethodForType<jobject, false>::method_ptr;
};

template <class Type>
struct IsDerivedFromJObject
{
    static constexpr bool value =
        std::is_base_of< typename std::remove_pointer<jobject>::type,
                         typename std::remove_pointer<Type>::type >::value;
};

template<class... T>
struct JniMethodArgumentTypeChecker
{
    static constexpr bool are_all_jni_types = true;
};

template<class T, class ... Args>
struct JniMethodArgumentTypeChecker< T, Args... >
{
    static constexpr bool are_all_jni_types =
        ( std::is_same< T, jboolean >::value ||
          std::is_same< T, jbyte >::value ||
          std::is_same< T, jchar >::value ||
          std::is_same< T, jshort >::value ||
          std::is_same< T, jint >::value ||
          std::is_same< T, jlong >::value ||
          std::is_same< T, jfloat >::value ||
          std::is_same< T, jdouble >::value ||
          std::is_same< T, jobject >::value ||
          IsDerivedFromJObject< T >::value ) &&
      JniMethodArgumentTypeChecker<Args...>::are_all_jni_types;
};

template<class T>
struct JniMethodReturnTypeChecker
{
    static constexpr bool is_jni_type = JniMethodArgumentTypeChecker<T>::are_all_jni_types;
};

template<>
struct JniMethodReturnTypeChecker<void>
{
    static constexpr bool is_jni_type = true;
};

class CppProxyBase
{
public:
    template < typename ResultType, typename ImplType >
    static void
    createProxy( JNIEnv* jenv, jobject jobj, ::std::shared_ptr< ResultType >& result )
    {
        jobject jGlobalRef = jenv->NewGlobalRef( jobj );
        jint jHashCode = getHashCode( jenv, jobj );
        ProxyCacheKey key{jGlobalRef, jHashCode};

        ::std::lock_guard< GlobalJniLock > lock( sGlobalJniLock );
        sGlobalJniLock.setJniEnvForCurrentThread( jenv );
        auto iterator = sProxyCache.find( key );
        if ( iterator != sProxyCache.end( ) )
        {
            auto cachedProxy = iterator->second.lock( );
            if ( cachedProxy )
            {
                jenv->DeleteGlobalRef( jGlobalRef );
                result = ::std::static_pointer_cast< ImplType >( cachedProxy );

                return;
            }
        }

        auto newProxyInstance = new (::std::nothrow ) ImplType( jenv, jGlobalRef, jHashCode );
        if ( newProxyInstance == nullptr )
        {
            jclass exceptionClass = jenv->FindClass( "java/lang/RuntimeException" );
            jenv->ThrowNew( exceptionClass, "Cannot allocate native memory." );
            jenv->DeleteLocalRef( exceptionClass );
            return;
        }
        auto newProxy = ::std::shared_ptr< ImplType >( newProxyInstance );
        result = newProxy;
        sProxyCache[ key ] = ::std::weak_ptr< ImplType >( newProxy );
        registerInReverseCache( newProxyInstance, result.get( ), key );
    }

    template <class T>
    static jobject getJavaObject( T* interfacePtr )
    {
        return getJavaObjectFromReverseCache( interfacePtr );
    }

protected:
    CppProxyBase( JNIEnv* jenv, jobject jGlobalRef, jint jHashCode );

    virtual ~CppProxyBase( );

    template< typename T, class ... Args >
    T callJavaMethod( const ::std::string& methodName,
                      const ::std::string& jniSignature,
                      JNIEnv* jniEnv,
                      Args ... args ) const
    {
        static_assert((JniMethodArgumentTypeChecker<Args...>::are_all_jni_types),
            "Detected attempt to pass to Java method non JNI type parameter");
        static_assert((JniMethodReturnTypeChecker<T>::is_jni_type),
            "Detected attempt to return from Java method non JNI type value");

        jclass jClass = jniEnv->GetObjectClass( jGlobalRef );
        jmethodID jmethodId = jniEnv->GetMethodID( jClass, methodName.c_str( ), jniSignature.c_str( ) );
        auto method_ptr = JniMethodForType<T, IsDerivedFromJObject<T>::value>::method_ptr;
        return static_cast<T>((jniEnv->*method_ptr)( jGlobalRef, jmethodId, args... ));
    }

    static JNIEnv* getJniEnvironment( );

private:

    struct ProxyCacheKey
    {
        jobject jObject;
        jint jHashCode;

        bool operator==( const ProxyCacheKey& other ) const;
    };

    struct ProxyCacheKeyHash
    {
        inline size_t
        operator( )( const ProxyCacheKey& key ) const
        {
            return key.jHashCode;
        }
    };

    using ReverseCacheKey = const void*;

    class GlobalJniLock {
    public:
        void lock( );
        void unlock( );

        void setJniEnvForCurrentThread( JNIEnv* env );
        JNIEnv* getJniEnvForCurrentThread( );

    private:
        ::std::mutex cacheMutex;
        JNIEnv* jniEnvForCurrentThread = nullptr;
    };

    using ProxyCache
        = ::std::unordered_map< ProxyCacheKey, ::std::weak_ptr< CppProxyBase >, ProxyCacheKeyHash >;
    using ReverseProxyCache = ::std::unordered_map< const void*, ProxyCacheKey >;

private:
    static jint getHashCode( JNIEnv* jniEnv, jobject jObj );

    static void registerInReverseCache( CppProxyBase* proxyBase,
                                        ReverseCacheKey reverseCacheKey,
                                        const ProxyCacheKey& primaryKey );
    void removeSelfFromReverseCache( );
    static jobject getJavaObjectFromReverseCache( ReverseCacheKey reverseCacheKey );

private:
    jobject jGlobalRef;
    jint jHashCode;
    ReverseCacheKey mReverseCacheKey = nullptr;

protected:
    static ProxyCache sProxyCache;
    static ReverseProxyCache sReverseProxyCache;
    static GlobalJniLock sGlobalJniLock;
};

}
}
