name: CMake tests on MacOS

on:
  push:
    paths:
      - 'cmake/**'
  pull_request:
    paths:
      - 'cmake/**'
  workflow_dispatch:

jobs:
  cmake-tests-ios:
    name: CMake toolchain tests for iOS
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v2
      - name: Install JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            !*gluecodium*
            !*lime-*
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Install ninja
        uses: seanmiddleditch/gha-setup-ninja@master
        with:
          version: 1.11.0
      - name: Build and run functional tests
        run: |
          export CTEST_PARALLEL_LEVEL=6
          ./gradlew publishToMavenLocal
          cd cmake
          GLUECODIUM_BUILD_ENVIRONMENT=ios-x86_64 cmake -P run-cmake-unit-test.cmake
