{{#cInstanceRef}}
let c_instance : {{cInstanceRef}}

{{^isInterface}}public {{/isInterface}}required init?(c{{name}}: {{cInstanceRef}}) {
    c_instance = c{{name}}
}

deinit {
    {{cInstance}}_release(c_instance)
}
{{/cInstanceRef}}
