{{^useParentCInstance}}let c_instance : _baseRef

{{^isInterface}}public {{/isInterface}}init?(c{{name}}: _baseRef) {
    guard c{{name}}.private_pointer != nil else {
        return nil
    }
    c_instance = c{{name}}
}

deinit {
    {{cInstance}}_release(c_instance)
}{{/useParentCInstance}}{{!!

}}{{#useParentCInstance}}{{^isInterface}}public {{/isInterface}}init?(c{{name}}: _baseRef) {
    super.init(c{{parentClass}}: c{{name}})
}{{/useParentCInstance}}
