{{! recurse through all the parameters and at the end call the actual function
}}{{#unless iterator.hasNext}}{{!!
  }}{{>wrapErrorIfNeeded}}
{{/unless}}
{{#iterator.hasNext}}{{!!
  }}{{#iterator.next}}{{!!
    }}{{#switch type.category.toString}}{{!!
      }}{{#case "BUILTIN_BYTEBUFFER"}}{{>swift/MethodWrapData}}{{/case}}{{!!
      }}{{#case "STRUCT"}}{{>structConversion}}{{/case}}{{!!
      }}{{#case "CLASS"}}{{>classConversion}}{{/case}}{{!!
      }}{{#case "ARRAY"}}{{>arrayConversion}}{{/case}}{{!!
      }}{{#default}}{{>swift/ConversionRecursion}}{{/default}}{{!!
    }}{{/switch}}{{!!
  }}{{/iterator.next}}{{!!
}}{{/iterator.hasNext}}{{!!


}}{{+wrapErrorIfNeeded}}{{!!
}}{{#if error}}{{!!
    }}{{#if isReturningVoid}}{{!!
        }}{{>WrapError}}{{!!
    }}{{/if}}{{!!
    }}{{#unless isReturningVoid}}{{!!
        }}{{>WrapErrorOrValue}}{{!!
    }}{{/unless}}{{!!
}}{{/if}}{{!!
}}{{#unless error}}{{!!
    }}{{#set delegateToCall="swift/DelegateCall"}}{{>returnValueConversion}}{{/set}}{{!!
}}{{/unless}}{{!!
}}{{/wrapErrorIfNeeded}}{{!!


}}{{+WrapError}}let ERROR_CODE = {{>swift/DelegateCall}}
if (ERROR_CODE != 0) {
    throw {{error}}(rawValue: ERROR_CODE)!
}
{{/WrapError}}{{!!


}}{{+WrapErrorOrValue}}let RESULT = {{>swift/DelegateCall}}
if (RESULT.has_value) {
{{#set delegateToCall="swift/ReturnedValue"}}{{prefixPartial 'returnValueConversion' '    '}}{{/set}}
} else {
    throw {{error}}(rawValue: RESULT.error_code)!
}
{{/WrapErrorOrValue}}{{!!


}}{{+returnValueConversion}}{{#switch method.returnType.category.toString}}{{!!
    }}{{#case "BUILTIN_BYTEBUFFER"}}{{>swift/MethodReturnData}}{{/case}}{{!!
    }}{{#case "BUILTIN_STRING"}}{{>swift/MethodReturnString}}{{/case}}{{!!
    }}{{#case "STRUCT"}}{{>MethodReturnStruct}}{{/case}}{{!!
    }}{{#case "CLASS"}}{{>MethodReturnClass}}{{/case}}{{!!
    }}{{#case "ENUM"}}{{>MethodReturnEnum}}{{/case}}{{!!
    }}{{#case "ARRAY"}}{{>MethodReturnArray}}{{/case}}{{!!
    }}{{#default}}{{>swift/MethodReturn}}{{/default}}{{!!
  }}{{/switch}}{{!!
}}{{/returnValueConversion}}{{!!


}}{{+structConversion}}{{!!
}}let {{name}}Handle = {{name}}.convertToCType()
defer {
    {{type.cPrefix}}_release({{name}}Handle)
}
{{>swift/ConversionRecursion}}
{{/structConversion}}

{{+classConversion}}{{!!
}}let {{name}}Handle = getRef({{name}})
{{>swift/ConversionRecursion}}
{{/classConversion}}

{{+MethodReturnStruct}}{{!!
}}let cResult = {{include delegateToCall}}
defer {
    {{method.returnType.cPrefix}}_release(cResult)
}
return {{>returnType}}(c{{method.returnType.simpleName}}: cResult){{#if method.forceReturnValueUnwrapping}}!{{/if}}
{{/MethodReturnStruct}}

{{+MethodReturnClass}}{{!!
}}let cResult = {{include delegateToCall}}{{!!
}}{{#if method.returnType.isInterface}}

if let swift_pointer = {{method.returnType.cPrefix}}_get_swift_object_from_cache(cResult),
        let reconstructed = Unmanaged<AnyObject>.fromOpaque(swift_pointer).takeUnretainedValue() as? {{method.returnType.publicName}} {
    return reconstructed
}{{/if}}
return {{>returnType}}(c{{method.returnType}}: cResult){{#if method.forceReturnValueUnwrapping}}!{{/if}}
{{/MethodReturnClass}}

{{+MethodReturnEnum}}{{!!
}}let cResult = {{include delegateToCall}}
return {{method.returnType}}(rawValue: cResult)!
{{/MethodReturnEnum}}

{{+arrayConversion}}
let {{name}}Handle = {{name}}.c_conversion()
defer {
    {{name}}Handle.cleanup()
}
{{>swift/ConversionRecursion}}
{{/arrayConversion}}

{{+MethodReturnArray}}
let handle = {{include delegateToCall}}
return {{method.returnType.implementingClass}}(handle)
{{/MethodReturnArray}}

{{+returnType}}{{!!
}}{{method.returnType.implementingClass}}{{!!
}}{{^method.returnType.implementingClass}}{{!!
    }}{{method.returnType}}{{!!
}}{{/method.returnType.implementingClass}}{{!!
}}{{/returnType}}
