{{! recurse through all the parameters and at the end call the actual function
}}{{#unless iterator.hasNext}}{{!!
  }}{{#switch method.returnType.category.toString}}{{!!
    }}{{#case "BUILTIN_BYTEBUFFER"}}{{>swift/MethodReturnData}}{{/case}}{{!!
    }}{{#case "BUILTIN_STRING"}}{{>swift/MethodReturnString}}{{/case}}{{!!
    }}{{#case "STRUCT"}}{{>MethodReturnStruct}}{{/case}}{{!!
    }}{{#case "CLASS"}}{{>MethodReturnStruct}}{{/case}}{{!!
    }}{{#case "ENUM"}}{{>MethodReturnEnum}}{{/case}}{{!!
    }}{{#default}}{{>swift/MethodReturn}}{{/default}}{{!!
  }}{{/switch}}
{{/unless}}
{{#iterator.hasNext}}{{!!
  }}{{#iterator.next}}{{!!
    }}{{#switch type.category.toString}}{{!!
      }}{{#case "BUILTIN_BYTEBUFFER"}}{{>swift/MethodWrapData}}{{/case}}{{!!
      }}{{#case "STRUCT"}}{{>structConversion}}{{/case}}{{!!
      }}{{#case "CLASS"}}{{>classConversion}}{{/case}}{{!!
      }}{{#default}}{{>swift/ConversionRecursion}}{{/default}}{{!!
    }}{{/switch}}{{!!
  }}{{/iterator.next}}{{!!
}}{{/iterator.hasNext}}

{{+structConversion}}let {{name}}Handle = {{name}}.convertToCType()
defer {
    {{type.cPrefix}}_release({{name}}Handle)
}
{{>swift/ConversionRecursion}}
{{/structConversion}}

{{+classConversion}}let {{name}}Handle = getRef({{name}})
{{>swift/ConversionRecursion}}
{{/classConversion}}

{{+MethodReturnStruct}}let cResult = {{>swift/DelegateCall}}
{{^method.returnType.privateImplementation}}
defer {
    {{method.returnType.cPrefix}}_release(cResult)
}
{{/method.returnType.privateImplementation}}
return {{>returnType}}(c{{method.returnType}}: cResult){{#if method.forceReturnValueUnwrapping}}!{{/if}}
{{/MethodReturnStruct}}

{{+MethodReturnEnum}}let cResult = {{>swift/DelegateCall}}
return {{method.returnType}}(rawValue: cResult)!
{{/MethodReturnEnum}}

{{+returnType}}{{!!
}}{{method.returnType.privateImplementation}}{{!!
}}{{^method.returnType.privateImplementation}}{{!!
    }}{{method.returnType}}{{!!
}}{{/method.returnType.privateImplementation}}{{!!
}}{{/returnType}}