{{method.cBaseName}}({{^method.isStatic}}{{method.instanceParameter.variableName}}{{#if method.parameters}}, {{/if}}{{/method.isStatic}}{{#each method.parameters}}{{#switch type.category.toString}}{{!!
  }}{{#case "BUILTIN_BYTEBUFFER"}}{{variableName}}_ptr, Int64({{variableName}}.count){{/case}}{{!!
  }}{{#case "STRUCT"}}{{variableName}}Handle{{/case}}{{!!
  }}{{#case "CLASS"}}{{variableName}}Handle.ref{{/case}}{{!!
  }}{{#case "ENUM"}}{{variableName}}.rawValue{{/case}}{{!!
  }}{{#case "ARRAY"}}{{variableName}}Handle.c_type{{/case}}{{!!
  }}{{#default}}{{variableName}}{{/default}}{{!!
}}{{/switch}}{{#if iter.hasNext}}, {{/if}}{{/each}})
