{{#comment}}{{>swift/Comment}}{{/comment}}
public enum {{name}} : UInt32 {
{{#items}}{{prefixPartial "enumItem" "    "}}
{{/items}}
}

{{+enumItem}}{{#comment}}{{>swift/Comment}}{{/comment}}
case {{name}}{{#if value}} = {{value}}{{/if}}{{/enumItem}}

