{{>swift/Comment}}
public enum {{simpleName}} : UInt32 {
{{#items}}{{prefixPartial "enumItem" "    "}}
{{/items}}
}

{{+enumItem}}{{>swift/Comment}}
case {{name}}{{#if value}} = {{value}}{{/if}}{{/enumItem}}

