internal func getRef(_ ref: {{name}}) -> RefHolder<{{cInstanceRef}}> {
    guard let instanceReference = ref as? _{{name}} else {
        fatalError("Not implemented yet")
    }
    return RefHolder<{{cInstanceRef}}>(instanceReference.c_instance)
}
