{{#comment}}{{>swift/Comment}}{{/comment}}
{{visibilityPrefix}}{{#isStatic}}static {{/isStatic}}func {{name}}{{>swift/MethodGenericParameters}}({{>swift/MethodParameterDeclaration}}) -> {{returnType.publicName}}{{#if returnType.optional}}?{{/if}}{{>swift/MethodGenericConstraints}}