{{#comment}}{{>swift/Comment}}{{/comment}}
public {{#isStatic}}static {{/isStatic}}func {{name}}({{>swift/MethodParameterDeclaration}}) -> {{returnType.publicName}}{{#if returnType.optional}}?{{/if}} {
{{#set iterator=parameters.iterator method=.}}{{prefixPartial 'swift/ConversionRecursion' '    '}}{{/set}}
}