{{^isInterface}}public {{/isInterface}}var {{name}}: {{type}} {
    get {
{{#set method=propertyAccessors.0}}
{{prefixPartial 'swift/ConversionRecursion' '        '}}
{{/set}}
    }
{{^readonly}}    set {
{{#set iterator=propertyAccessors.1.parameters.iterator method=propertyAccessors.1}}{{prefixPartial 'swift/ConversionRecursion' '        '}}{{/set}}
    }{{/readonly}}
}
