public func convertTo{{parent.simpleName}}() -> {{parent.name}} {
    return {{parent.name}}({{joinPartial parent.fields "initParameter" ", "}})
}{{+initParameter}}{{name}}: {{name}}{{/initParameter}}