{{>swift/Comment}}
public struct {{simpleName}} {
{{#fields}}
{{#if this.comment}}
    /**
{{prefix this.comment '     '}}
     */
{{/if}}
    public var {{name}}: {{type.publicName}}
{{/fields}}

{{prefixPartial "swift/StructPublicInitMethod" "    "}}{{#if parent}}

{{prefixPartial "swift/StructParentConversionFunction" "    "}}{{/if}}

{{prefixPartial "swift/StructInternalInitMethod" "    "}}

{{prefixPartial "swift/StructCBaseCreationMethod" "    "}}

{{prefixPartial "swift/StructFillFunction" "    "}}
}
