public struct {{name}} {
{{#fields}}
    public var {{name}}: {{type}}
{{/fields}}

{{prefixPartial "swift/StructPublicInitMethod" "    "}}

{{prefixPartial "swift/StructInternalInitMethod" "    "}}

{{prefixPartial "swift/StructCBaseCreationMethod" "    "}}

{{prefixPartial "swift/StructFillFunction" "    "}}
}
