internal init?(c{{name}}: {{cType}}) {
{{#set structName=name}}
{{#fields}}
    {{#switch type.category.toString}}
    {{#case "BUILTIN_STRING"}}{{>assignStringType}}{{/case}}
    {{#case "BUILTIN_BYTEBUFFER"}}{{>assignDataType}}{{/case}}
    {{#case "STRUCT"}}{{>assignStruct}}{{/case}}
    {{#case "CLASS"}}{{>assignClass}}{{/case}}
    {{#case "ENUM"}}{{>assignEnum}}{{/case}}
    {{#case "ARRAY"}}{{>assignArray}}{{/case}}
    {{#default}}{{>assignBasicType}}{{/default}}
    {{/switch}}
{{/fields}}
{{/set}}
}

{{+assignBasicType}}{{name}} = {{cPrefix}}_{{name}}_get(c{{structName}})
{{/assignBasicType}}

{{+assignArray}}{{name}} = {{type.implementingClass}}({{cPrefix}}_{{name}}_get(c{{structName}}))
{{/assignArray}}

{{+assignEnum}}{{name}} = {{type}}.init(rawValue: {{cPrefix}}_{{name}}_get(c{{structName}}))!
{{/assignEnum}}

{{+assignStringType}}do {
    let {{name}}Handle = {{cPrefix}}_{{name}}_get(c{{structName}})
    {{name}} = String(cString:std_string_data_get({{name}}Handle))
}
{{/assignStringType}}

{{+assignDataType}}do {
    let {{name}}FieldHandle = {{cPrefix}}_{{name}}_get(c{{structName}})
    guard
        let dataHandle = byteArray_data_get({{name}}FieldHandle)
    else {
        return nil
    }
    {{name}} = Data(bytes: dataHandle, count: Int(byteArray_size_get({{name}}FieldHandle)))
}
{{/assignDataType}}

{{+assignStruct}}do {
    guard
        let {{name}}Unwrapped = {{type}}(c{{type}}: {{cPrefix}}_{{name}}_get(c{{structName}}))
    else {
        return nil
    }
    {{name}} = {{name}}Unwrapped
}
{{/assignStruct}}

{{+assignClass}}do {
    guard
        let {{name}}Unwrapped = _{{type}}(c{{type}}: {{cPrefix}}_{{name}}_get(c{{structName}}))
    else {
        return nil
    }
    {{name}} = {{name}}Unwrapped
}
{{/assignClass}}
