internal func fillFunction(_ c{{simpleName}}: _baseRef) -> Void {
{{#set structName=simpleName}}
{{#fields}}
{{#switch type.category.toString}}
{{#case "BUILTIN_BYTEBUFFER"}}
    {{>fillDataType}}
{{/case}}
{{#case "STRUCT"}}
    {{>fillStruct}}
{{/case}}
{{#case "CLASS"}}
    {{>fillClass}}
{{/case}}
{{#case "ENUM"}}
    {{>fillEnum}}
{{/case}}
{{#case "ARRAY"}}
    {{>fillArray}}
{{/case}}
{{#case "BUILTIN_STRING" break="false"}}{{/case}}
{{#default}}
    {{>fillBasicType}}
{{/default}}
{{/switch}}
{{/fields}}
{{/set}}
}

{{+fillBasicType}}{{cPrefix}}_{{name}}_set(c{{structName}}, {{name}})
{{/fillBasicType}}

{{+fillDataType}}{{name}}.withUnsafeBytes { ({{name}}_ptr: UnsafePointer<UInt8>) in
    {{cPrefix}}_{{name}}_set(c{{structName}}, {{name}}_ptr, Int64({{name}}.count))
}
{{/fillDataType}}

{{+fillStruct}}let {{name}}Handle = {{cPrefix}}_{{name}}_get(c{{structName}})
{{name}}.fillFunction({{name}}Handle)
{{/fillStruct}}

{{+fillClass}}{{cPrefix}}_{{name}}_set(c{{structName}}, getRef({{name}}).ref)
{{/fillClass}}

{{+fillEnum}}{{cPrefix}}_{{name}}_set(c{{structName}}, {{name}}.rawValue)
{{/fillEnum}}

{{+fillArray}}let {{name}}Conversion = {{name}}.c_conversion()
{{cPrefix}}_{{name}}_set(c{{structName}}, {{name}}Conversion.c_type)
{{name}}Conversion.cleanup()
{{/fillArray}}