public init({{joinPartial fields "initParameter" ", "}}) {
{{#fields}}
    self.{{name}} = {{name}}
{{/fields}}
}
{{+initParameter}}{{name}}: {{type.publicName}}{{#if defaultValue}} = {{defaultValue}}{{/if}}{{/initParameter}}