public struct {{name}} {
{{#fields}}{{prefixPartial "swift/SwiftStructFieldDeclaration" "    "}}
{{/fields}}

{{prefixPartial "swift/SwiftStructPublicInitMethod" "    "}}

{{prefixPartial "swift/SwiftStructInternalInitMethod" "    "}}

{{prefixPartial "swift/SwiftStructCBaseCreationMethod" "    "}}

{{prefixPartial "swift/SwiftStuctFillFunction" "    "}}
}