let result_string_handle = {{method.cBaseName}}({{#each paramsForBase}}{{.}}{{#if iter.hasNext}}, {{/if}}{{/each}})
if let ret_value = String(data: Data(bytes: std_string_data_get(result_string_handle),
                                     count: Int(std_string_size_get(result_string_handle))), encoding: .utf8) {
    std_string_release(result_string_handle)
    return ret_value
}
return "" //TODO: We should return nil in case of error