public {{#isStatic}}static {{/isStatic}}func {{name}}({{>swift/MethodParameterDeclaration}}) -> {{returnType}}{{#if returnType.optional}}?{{/if}} {
{{#set iterator=parameters.iterator method=.}}{{prefixPartial 'swift/ConversionRecursion' '    '}}{{/set}}
}